<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>


	<div th:fragment="listActividadesPrimarias">
		<label class="col-form-label">Fase</label>
		<div class="input-group">
			<select  class="custom-select" id="selectActividadesPrimarias" onclick="filtraActPorFase();">
				<option th:each="actividadPrimaria : ${actividadesPrimariasList}" 
					th:value="${actividadPrimaria}" th:text="${actividadPrimaria}">
				</option>
			</select>
		</div>
	</div>
	
	<div th:fragment="listActividadesPrimariasNoPlan">
		<label class="col-form-label">Fase</label>
		<div class="input-group">
			<select  class="custom-select" id="selectActividadesPrimarias" onclick="filtraActPorFase();">
				<option th:each="entry : ${actividadesPrimariasNoPlan}" 
					th:value="${entry.key}" th:text="${entry.value}">
				</option>
			</select>
		</div>
	</div>

	
	<div th:fragment="listActividadesSecundarias">
		<label class="col-form-label">Actividades</label>
		<div class="input-group">
			<select  class="custom-select" id="selectActividadesSecundarias" onclick="altaCapHoraActividad();">
				<option th:each="actividad : ${actividadesSecundariasList}" 
					th:value="${actividad.codActividad}" th:text="${actividad.descActividadSecundaria} + ' (' + ${actividad.valDuracionActividad} + ' hrs)'">
				</option>
			</select>
		</div>
	</div>
	
	<div th:fragment="listActividadesSecundariasFuera">
		<label class="col-form-label">Actividades</label>
		<div class="input-group">
			<select  class="custom-select" id="selectActividadesSecundarias" onclick="altaCapHoraActividadFuera();">
				<option th:each="actividad : ${actividadesSecundariasListFuera}" 
					th:value="${actividad.codSubtarea}" th:text="${actividad.descSubtarea}">
				</option>
			</select>
		</div>
	</div>
	
	<div th:fragment="listActividadesSecundariasNoPlan">
		<label class="col-form-label">Actividades</label>
		<div class="input-group">
			<select  class="custom-select" id="selectActividadesSecundarias" onclick="altaCapHoraActividadNoPlan();">
				<option th:each="actividad : ${actividadesSecundariasNoPlan}" 
					th:value="${actividad.codSubtarea}" th:text="${actividad.descSubtarea}">
				</option>
			</select>
		</div>
	</div>
	

	<div th:fragment="detActividades">
		<form id="capHorasForm" th:action="@{/formCapHoraActividad}"
			th:Object="${capHora}" method="post">
			<div class="row">
				<div class="form-group col-12 col-md-9">
					<label class="col-form-label">Detalle</label> <input type="text" id="descDetalleHora"
						th:field="*{descComentarioDetalle}" maxlength="250"
						class="form-control required" />
						<div id="divDescDetalleHora"></div>
				</div>
				<div class="form-group col-12 col-md-3">

					<label class="col-form-label">Horas</label> <input type="number" id="valHoraCap" min="0" max="24"
						th:field="*{valDuracionReportada}" onchange="handleChange(this);"
						class="form-control" /><div id="divValHoraCap"></div>

				</div>
			</div>
		</form>

	</div>

	<div th:fragment="detActividadesCapturadas">
		<table class="table table-bordered" th:if="${not #lists.isEmpty(listActHoraCapturadas)}">
			<tbody>
				<tr th:each="horaCapturada : ${listActHoraCapturadas}">
					<td>
						<i class='fas fa-tasks'></i><b><span th:text="' ' + ${horaCapturada.descProyecto}"></span>
						<span th:text="' - ' + ${horaCapturada.descActividadSecundaria}"></span></b><br>
						<i class='fas fa-highlighter'></i><span th:text="' ' + ${horaCapturada.descComentarioDetalle}"></span><br>
						<i class='far fa-clock'></i><b><span th:text="' ' + ${horaCapturada.valDuracionReportada}"></span></b><br>
						<a th:if="${horaCapturada.fecValidacion == null}" href="#!" th:onclick="'editCaptura(\'' + ${horaCapturada.codCapHora} + '\');'" class="badge badge-primary">Editar  <i class="far fa-edit"></i></a>
						<a th:if="${horaCapturada.fecValidacion == null}" href="#!" th:onclick="'delCaptura(\'' + ${horaCapturada.codCapHora} + '\');'" class="badge badge-danger borrar">Eliminar  <i class="fas fa-trash-alt"></i></a>
						<span th:if="${horaCapturada.fecValidacion != null}" class="badge badge-success">Validada  <i class="far fa-check-circle"></i></span>
					</td>
				</tr>
			</tbody> 
		</table>
		
		<table class="table table-bordered" th:if="${#lists.isEmpty(listActHoraCapturadas)}">
			<tbody>
				<tr>
					<td class="text-center">
						<span><i class='fas fa-exclamation-circle'></i> Sin registro</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div th:fragment="editDetActividades">
		<form id="formEditCapHoraActividad" th:action="@{/formCapHoraActividad}" th:Object="${capHora}" method="post">
			<div class="row">
				<div class="form-group col-12 col-md-9">
					<label class="col-form-label">Proyecto </label>
					<h6 style="font-weight: 600;" th:text="${capHora.descProyecto}"></h6>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-12 col-md-9">
					<label class="col-form-label">Actividad </label>
					<h6 style="font-weight: 600;" th:text="${capHora.descActividadSecundaria}"></h6>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-6 col-md-5">
					<label class="col-form-label">Fecha</label> <input type="date" id="descFechaHora" th:field="*{fecInicioActividad}" class="form-control required" />
					<div id="divDescFechaHora"></div>
				</div>
				<div class="form-group col-6 col-md-3">
					<label class="col-form-label">Horas</label>
						<input type="number" id="valHoraCapEdit" min="0" max="24" th:field="*{valDuracionReportada}" onchange="handleChange(this);" class="form-control" />
						<div id="divValHoraCapEdit"></div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-12 col-md-12">
					<label class="col-form-label">Detalle</label> <input type="text" id="descDetalleHoraEdit" th:field="*{descComentarioDetalle}" maxlength="250" class="form-control required" />
					<div id="divDescDetalleHoraEdit"></div>
				</div>
			</div>
		</form>
	</div>

	
	
	

</body>
</html>