<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Sophitech</title>
  <link rel="icon" type="image/png" th:href="@{/img/icon.png}" sizes="16x16">
  <!-- Custom fonts for this template-->
  <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link th:href="@{/css/sb-admin-2.css}" rel="stylesheet">
  <link th:href="@{/css/jquery-ui.min.css}" rel="stylesheet">
  
  <link th:href="@{/css/style.css}" rel="stylesheet">
  
  <link th:href="@{/css/calendario.css}" rel="stylesheet">
  <link th:href="@{/css/switch.css}" rel="stylesheet">
  
    <!-- Custom styles for this page -->
  <link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">
  <script src="https://kit.fontawesome.com/f09a1d4e4f.js" crossorigin="anonymous"></script>
  
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <ul th:fragment="menu" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/}">
        <div class="sidebar-brand-icon">
          <!--<i class="fas fa-laugh-wink"></i>  rotate-n-15-->
          <img th:src="@{/img/logo-img.png}" alt="">
        </div> 
        <div class="sidebar-brand-text mx-3"><img th:src="@{/img/logo-texto.png}" alt=""></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/}">
          <i class="fa fa-home"></i>
          <span>Inicio</span></a>
      </li>
      
      <!-- Divider -->
      <hr sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_APROB')" class="sidebar-divider my-0">

      <!-- Heading Proyecto -->
      <!-- <div sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_APROB')" class="sidebar-heading">
        Clientes
      </div> -->

      <!-- Nav Item - Gastos y tiempo Collapse Menu -->
      <li class="nav-item" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_APROB')">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseClientes" aria-expanded="true" aria-controls="collapseClientes">
          <i class="fas fa-fw fa-address-book"></i>
          <span>Gesti&oacute;n de clientes</span>
        </a>
        <div id="collapseClientes" class="collapse" aria-labelledby="menuClientes" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Ver:</h6>
            <a class="collapse-item" th:href="@{/listaClientes}">Mis clientes</a>
            <!-- <a class="collapse-item" th:href="@{/agenda}">Mis contactos</a> -->
          </div>
        </div>
      </li>
      

      <!-- Divider -->
      <hr sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_LIDER','ROLE_APROB', 'ROLE_USER')"  class="sidebar-divider my-0">

      <!-- Heading Proyecto -->
      <!-- <div sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_LIDER', 'ROLE_USER','ROLE_APROB')" class="sidebar-heading">
        Proyectos
      </div>  -->
      
	  <!-- Nav Item - Actividades Collapse Menu -->
      <li class="nav-item">
        <a sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_LIDER','ROLE_APROB','ROLE_USER')" class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProyectos" aria-expanded="true" aria-controls="collapseProyectos">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Gesti&oacute;n de proyectos</span>
        </a>
        <div id="collapseProyectos" class="collapse" aria-labelledby="menuProyectos" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Ver:</h6>
            <a sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_APROB', 'ROLE_LIDER')" class="collapse-item"  th:href="@{/listaProyectosTodo}">Mis proyectos</a>
            <a sec:authorize="hasAnyRole('ROLE_LIDER','ROLE_USER','ROLE_APROB')" class="collapse-item" th:href="@{/misActividades/} + ${#authentication.getName()}">Mis actividades</a>
          </div>
        </div>
      </li>

      <hr sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_LIDER','ROLE_USER','ROLE_APROB')"  class="sidebar-divider my-0">

      <!-- Nav Item - Gastos y tiempo Collapse Menu -->
      <li class="nav-item">
        <a sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_LIDER', 'ROLE_USER','ROLE_APROB')" class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseGastosTiempo" aria-expanded="true" aria-controls="collapseGastosTiempo">
          <i class="fas fa-fw fa-calendar-alt"></i>
          <span>Gesti&oacute;n de tiempo</span>
        </a>
        <div id="collapseGastosTiempo" class="collapse" aria-labelledby="menuGastosTiempo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Ver:</h6>
          	<a sec:authorize="hasAnyRole('ROLE_APROB','ROLE_LIDER','ROLE_USER' )" class="collapse-item" th:href="@{/capHoras/} + ${#authentication.getName()}">Mis horas</a>
          	<a sec:authorize="hasAnyRole('ROLE_APROB','ROLE_LIDER','ROLE_USER' )" class="collapse-item" th:href="@{/miForecast/} + ${#authentication.getName()}">Mi forecast</a>
          	<a sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_APROB')" class="collapse-item" th:href="@{/resumenForecast}">Resumen forecast</a>
            <a sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_APROB')" class="collapse-item" th:href="@{/aprobacionHorasProyecto/}+${#authentication.getName()}">Aprobaci&oacute;n de horas</a>
			<a sec:authorize="hasAnyRole('ROLE_APROB','ROLE_LIDER','ROLE_USER', 'ROLE_ADMIN' )" class="collapse-item" th:href="@{/misVacaciones/} + ${#authentication.getName()}">Mis vacaciones</a>
            <a sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_APROB')" class="collapse-item" th:href="@{/aprobacionVacaciones/}+ ${#authentication.getName()}">Aprobaci&oacute;n de vacaciones</a>
          </div>
        </div>
      </li>
      
      
      
      <hr sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_LIDER','ROLE_USER','ROLE_APROB')"  class="sidebar-divider my-0">

      <!-- Nav Item - Gastos y tiempo Collapse Menu -->
      <li class="nav-item">
        <a sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_LIDER', 'ROLE_USER','ROLE_APROB')" class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseGastosCompra" aria-expanded="true" aria-controls="collapseGastosCompra">
          <i class="fas fa-comments-dollar"></i>
          <span>Gesti&oacute;n de gastos</span>
        </a>
        <div id="collapseGastosCompra" class="collapse" aria-labelledby="menuGastosCompra" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Ver:</h6>
            <a sec:authorize="hasAnyRole('ROLE_APROB','ROLE_LIDER','ROLE_USER' )" class="collapse-item" th:href="@{/misGastos/} + ${#authentication.getName()}">Mis gastos</a>
            <a sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_APROB')" class="collapse-item" th:href="@{/aprobaciongastos/}+ ${#authentication.getName()}">Aprobaci&oacute;n de gastos</a>
          </div>
        </div>
      </li>

 
      
       <!-- Divider -->
      <hr sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_RH')" class="sidebar-divider my-0">

      <!-- Heading Proyecto -->
      <!-- <div sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_RH')" class="sidebar-heading">
        Recursos
      </div> -->

      <!-- Nav Item - Recursos Collapse Menu -->
      <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_RH')" class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRecursos" aria-expanded="true" aria-controls="collapseRecursos">
          <i class="fas fa-fw fa-id-card"></i>
          <span>Gesti&oacute;n de recursos</span>
        </a>
        <div id="collapseRecursos" class="collapse" aria-labelledby="menuRecursos" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Ver:</h6>
            <a class="collapse-item" th:href="@{/listarRecursos}">Mis recursos</a>
            <a class="collapse-item" th:href="@{/controlVacaciones}">Control de vacaciones</a>
          </div>
        </div>
      </li>
      
      <!-- Divider -->
      <hr sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_RH')" class="sidebar-divider my-0">

      <!-- Heading Proyecto -->
      <!-- <div sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_RH')" class="sidebar-heading">
        Encuestas
      </div> -->

      <!-- Nav Item - Recursos Collapse Menu -->
      <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_RH')" class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEncuestas" aria-expanded="true" aria-controls="collapseEncuestas">
<!--           <i class="fas fa-fw fa-id-card"></i> -->
          <i class="far fa-question-circle"></i>
          <span>Gesti&oacute;n de encuestas</span>
        </a>
        <div id="collapseEncuestas" class="collapse" aria-labelledby="menuEncuestas" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Ver:</h6>
            <a class="collapse-item" th:href="@{/flashClima}">Flash clima</a>
          </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">
		
		<header th:fragment="header">
        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
        <!-- <h1>Aquí va el título</h1> -->

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
            <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <!-- Counter - Alerts -->
                <span class="badge badge-danger badge-counter">1+</span>
              </a>
              <!-- Dropdown - Alerts -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                  Notificaciones
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-warning">
                      <i class="fas fa-exclamation-triangle text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">Hoy</div>
                    No olvides capturar y/o aprobar tus horas.
                  </div>
                </a>
              </div>
            </li>



            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div id="encabezado">
<!--                 informacion del usuario login -->
                </div>
               
              </a>
              <!-- Dropdown - User Information -->
             	<div id="opciones">
<!--                 notificaciones del usuario login-->
                </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->
        
        <div class="alert alert-success" th:if="${success != null}" th:text="${success}"></div>
        <div class="alert alert-danger" th:if="${error != null}" th:text="${error}"></div>
        <div class="alert alert-warning" th:if="${warning != null}" th:text="${warning}"></div>
        <div class="alert alert-info" th:if="${info != null}" th:text="${info}"></div>
        
		<div id="suveyFlashSophi">
<!--                 modal FLASH CLIMA-->
		</div>
        
        </header>
        
        <div th:fragment="dataSesion">
        	 <span class="mr-2 d-none d-lg-inline text-gray-600 small"  th:text="${recursoSesion.descRecurso}"></span>
        	 <img class="img-profile imgPrevCircle" th:src="@{'/fotoRecursoPerfil/'} + ${recursoSesion.codRecurso} " >
        </div>
        
        <div th:fragment="dataSesionOption" >
         <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" th:href="@{/verRecurso/} + ${recursoSesion.codRecurso}">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Perfil
                </a>
<!--                 <a class="dropdown-item" href="#"> -->
<!--                   <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i> -->
<!--                   Configuraci&oacute;n -->
<!--                 </a> -->
<!--                 <a class="dropdown-item" href="#"> -->
<!--                   <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i> -->
<!--                   Log de actividades -->
<!--                 </a> -->
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Cerrar sesi&oacute;n
                </a>
              </div>
        </div>
        
                <!-- Modal -->
		<div th:fragment="modalFlash" class="modal hide fade in" data-keyboard="false" data-backdrop="static" id="modalClima" role="dialog">
		  <div class="modal-dialog modal-md">
		    <div class="modal-content">
		      <div class="modal-header" style="border-bottom: 0 none;">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		      </div>
		      <div class="modal-body" style="text-align: center; padding: 0px 20px 70px 20px;">
		        <p style="font-size: 24px; font-stretch: 100;" th:text="'Hola, '+ ${recursoFlash.descRecurso} + ', ' + ${preguntaFlash.descPreguntaClima}"></p>
	        	<div class="sv__point-wrapper">
					<div class="sv__smiley-scale ">
						<img th:each="emoji : ${respuestasFlash}" class="img_emoji" th:src="${emoji.valImagenRespuesta}" th:id="'res_'+${emoji.codPreguntaRespuestaClima}" onclick="saveRespuesta(this); return false;">
					</div>
	     	 	</div>
		    </div>
		  </div>
		</div>
        </div>
        

        <!-- Begin Page Content -->
        <div class="container-fluid">

       
<!--  AQUI          -->

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white" th:fragment="footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Sophitech 2021</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button--> <div class="st-actionContainer right-bottom" id="btnFlash"> <div class="st-btn-container right-bottom" onclick="flashSurvey(); return false;"> <div class="st-button-main"><i class="fa fa-bolt" aria-hidden="true"></i></div> </div> </div>
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

<div th:fragment="modalLogout">
 <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Cerrar sesi&oacute;n</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">&iquest;Est&aacute;s seguro que quieres cerrar sesi&oacute;n?</div>
       <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
          <form id="logoutForm" th:action="@{/logout}" method="post">
          	<button onclick="document.getElementById('logoutForm').submit();" type="submit" class="btn btn-primary">Aceptar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


  <!-- Bootstrap core JavaScript-->
  <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  <!-- Core plugin JavaScript-->
  <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

  <!-- Custom scripts for all pages-->
  <script th:src="@{/js/sb-admin-2.min.js}"></script>

  <!-- Page level plugins -->
  <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
  <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

  <!-- Page level custom scripts -->
  <script th:src="@{/js/demo/datatables-demo.js}"></script>
  
  

</body>

</html>
