<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/layout::head"></head>

<body id="page-top">
  <input id="authGetName" type="hidden" th:value="${#authentication.getName()}"></input>
  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="layout/layout::menu"> </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

		<header th:replace="layout/layout :: header"></header>

        <!-- Begin Page Content -->
        <div class="container-fluid">
		
			<!-- Page Heading -->
			<h1 class="h3 mb-1 text-gray-800">Flash clima</h1>
			
			<!-- Content Row -->
			<div class="row">

				<!-- Border Left Utilities -->
				<div class="col-lg-12">
					<div class="card mb-3 py-0 border-left-success" style="padding: 10px 20px;">
						<div class="card-body">
							<div class="form-group row">
    							<label for="inputPreguntaFlash" class="col-form-label">Pregunta:</label>
								<input type="text" maxlength="200" class="form-control" id="inputPreguntaFlash" th:value="${preguntaFlash.descPreguntaClima}">
  							</div>
  							<div class="form-group row">
  							<button type="button" class="btn btn-primary" id="btnActualizarFlash" disabled>Actualizar</button>
  							</div>
	                	</div>
					</div>
				</div>
			
			</div>	
			<div class="row">
				<!-- Border Left Utilities -->
				<div class="col-lg-12">
					<div class="card mb-3 py-0 border-left-success" style="padding: 10px 20px;">
						<div class="card-body">
							<div class="form-group row">
			                  Respuestas:
			                </div>
			                
			                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">

					          <div class="list-group list-group-horizontal">
<!-- 					              <a href="#" class="list-group-item">Item One</a> -->
<!-- 					              <a href="#" class="list-group-item">Item Two</a> -->
<!-- 					              <a href="#" class="list-group-item">Item Three</a> -->
<!-- 					              <a href="#" class="list-group-item">Item Four</a> -->
					              <img class="img_emoji" src="../img/emoji/emoji_1.png">
					              <img class="img_emoji" src="../img/emoji/emoji_2.png">
					              <img class="img_emoji" src="../img/emoji/emoji_3.png">
					              <img class="img_emoji" src="../img/emoji/emoji_4.png">
					              <img class="img_emoji" src="../img/emoji/emoji_5.png">
					              <img class="img_emoji" src="../img/emoji/emoji_6.png">
					              <img class="img_emoji" src="../img/emoji/emoji_7.png">
					          </div>

        					</div>
						</div>
					</div>	
				</div>
			</div>
			
			

        </div>
        <!-- /.container-fluid -->
        
      </div>
      <!-- End of Main Content -->

       <!-- Footer -->
      <footer th:replace="layout/layout :: footer"></footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button--> <div class="st-actionContainer right-bottom" id="btnFlash"> <div class="st-btn-container right-bottom" onclick="flashSurvey(); return false;"> <div class="st-button-main"><i class="fa fa-bolt" aria-hidden="true"></i></div> </div> </div>
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

	  <!-- ModalLogout -->
      <footer th:replace="layout/layout :: modalLogout"></footer>
      <!-- End ModalLogout -->

  <!-- Bootstrap core JavaScript-->
  <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
 
  <!-- Core plugin JavaScript-->
  <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

  <!-- Custom scripts for all pages-->
  <script th:src="@{/js/sb-admin-2.min.js}"></script>
  
  <script th:src="@{/js/datosRecursoSesion.js}"></script>
  
  <script type="text/javascript">
  $(document).ready(function() {
  	$("#inputPreguntaFlash").on('change keydown paste input', function(){
  		$("#btnActualizarFlash").prop( "disabled", false );
	});
  	
  	$("#btnActualizarFlash").on('click', function(){
  		actualizaPreguntaFlash();
	});
  	
  	
  });
  function actualizaPreguntaFlash(){
	  var pregunta = $("#inputPreguntaFlash").val();
	  if(pregunta.length > 0){
		  $.ajax({
				url: '/guardaPreguntaFlash',
				data: { pregunta: pregunta},
				success: function(succ){
					$("#btnActualizarFlash").prop( "disabled", true );
				}
			})  
	  } else {
		  $("#btnActualizarFlash").prop( "disabled", true );
	  }
  }
  </script>

</body>

</html>
