<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/layout::head"></head>

<body id="page-top">
<input id="authGetName" type="hidden" th:value="${#authentication.getName()}"></input>
  <!-- Page Wrapper -->
  <div id="wrapper">

     <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/}">
        <div class="sidebar-brand-icon">
          <!--<i class="fas fa-laugh-wink"></i>  rotate-n-15-->
          <img th:src="@{/img/logo-img.png}" alt="">
        </div> 
        <div class="sidebar-brand-text mx-3"><img th:src="@{/img/logo-texto.png}"alt=""></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" th:href="@{/}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Mi dashboard</span></a>
      </li>
      
      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading Proyecto -->
      <div class="sidebar-heading">
        Clientes
      </div>

      <!-- Nav Item - Gastos y tiempo Collapse Menu -->
      <li class="nav-item active">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseClientes" aria-expanded="true" aria-controls="collapseClientes">
          <i class="fas fa-fw fa-address-book"></i>
          <span>Gesti&oacute;n de clientes</span>
        </a>
        <div id="collapseClientes" class="collapse" aria-labelledby="menuClientes" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Ver:</h6>
            <a class="collapse-item" th:href="@{/listaClientes}">Mis clientes</a>
            <a class="collapse-item active" th:href="@{/agenda}">Mis contactos</a>
          </div>
        </div>
      </li>
      

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading Proyecto -->
      <div class="sidebar-heading">
        Proyectos
      </div>
      
      
	  <!-- Nav Item - Actividades Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProyectos" aria-expanded="true" aria-controls="collapseProyectos">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Gesti&oacute;n de proyectos</span>
        </a>
        <div id="collapseProyectos" class="collapse" aria-labelledby="menuProyectos" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Ver:</h6>
            <a class="collapse-item"  th:href="@{/listaProyectosTodo}">Mis proyectos</a>
            <a class="collapse-item" th:href="@{/misActividades/} + ${#authentication.getName()}">Mis actividades</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Gastos y tiempo Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseGastosTiempo" aria-expanded="true" aria-controls="collapseGastosTiempo">
          <i class="fas fa-fw fa-calendar-alt"></i>
          <span>Gastos y tiempo</span>
        </a>
        <div id="collapseGastosTiempo" class="collapse" aria-labelledby="menuGastosTiempo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Ver:</h6>
            <a class="collapse-item" th:href="@{/capHoras/} + ${#authentication.getName()}">Mi captura de horas</a>
            <a class="collapse-item" th:href="@{/aprobacionhoras/}+${#authentication.getName()}">Aprobaci&oacute;n de horas</a>
            <a class="collapse-item" th:href="@{/misGastos/} + ${#authentication.getName()}">Mi captura de gastos</a>
            <a class="collapse-item" th:href="@{/aprobaciongastos/}+ ${#authentication.getName()}">Aprobaci&oacute;n de gastos</a>
          </div>
        </div>
      </li>

 
      
       <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading Proyecto -->
      <div class="sidebar-heading">
        Recursos
      </div>

      <!-- Nav Item - Gastos y tiempo Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRecursos" aria-expanded="true" aria-controls="collapseRecursos">
          <i class="fas fa-fw fa-id-card"></i>
          <span>Gesti&oacute;n de recursos</span>
        </a>
        <div id="collapseRecursos" class="collapse" aria-labelledby="menuRecursos" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Ver:</h6>
            <a class="collapse-item" th:href="@{/listarRecursos}">Mis recursos</a>
          </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <header th:replace="layout/layout :: header"></header>

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800" th:text="${titulo}"></h1>
          <p class="mb-4">Completa la informaci&oacute;n del nuevo contacto.</p>

          <form th:action="@{/formContacto}" th:Object="${agenda}" method="POST">
              <div class="card shadow mb-4">
                <!-- Card Header - Accordion -->
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Datos del contacto</h6>
                </div>
                <!-- Card Content - Collapse -->
                <div class="collapse show" id="collapseCardContacto">
                  <div class="card-body">
                  
                  <div class="row">
                  	<div class="form-group col-12 col-md-4">
                        <label class="col-form-label">Cliente</label>
                        <select th:field="*{codCliente}" class="custom-select">
                          <option th:each="cliente:${clienteList}" th:value="${cliente.codCliente}" th:text="${cliente.descCliente}"></option>
                        </select>
					</div>
                  </div>
                  
                  
                  
                  <div class="row">
                    <div class="form-group col-12 col-md-4">
                      <label class="col-form-label">Nombre</label>
                      <input type="text" th:field="*{descContacto}" class="form-control" th:errorClass="'form-control alert-danger'" />
                      <small class="form-text text-danger" th:if="${#fields.hasErrors('descContacto')}" th:errors="*{descContacto}"></small>
                    </div>
                     <div class="form-group col-12 col-md-3">
                      <label class="col-form-label">Correo electronico</label>
                      <input type="text" th:field="*{descCorreoElectronico}" class="form-control" th:errorClass="'form-control alert-danger'"/>
                      <small class="form-text text-danger" th:if="${#fields.hasErrors('descCorreoElectronico')}" th:errors="*{descCorreoElectronico}"></small>
                    </div>
                     <div class="form-group col-12 col-md-3">
                      <label class="col-form-label">Cargo</label>
                      <select th:field="*{codCargo}" class="custom-select">
                      <option th:each="cargo : ${cargoList}" th:value="${cargo.codCargo}" th:text="${cargo.descCargo}">
                      </option>
                      </select>
                    </div>
                     <div class="form-group col-12 col-md-2">
                      <label class="col-form-label">Recursos a cargo</label>
                      <input type="number" th:field="*{valRecursosACargo}" min=0 class="form-control"/>
                      <small class="form-text text-danger" th:if="${#fields.hasErrors('valRecursosACargo')}" th:errors="*{valRecursosACargo}"></small>
                    </div>
                   </div>
                   
                   
                   <div class="row">
                      <div class="form-group col-12 col-md-3">
                        <label class="col-form-label">Puesto</label>
                        <input type="text" th:field="*{descPuesto}" class="form-control" th:errorClass="'form-control alert-danger'"/>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('descPuesto')}" th:errors="*{descPuesto}"></small>
                      </div>
                      <div class="form-group col-12 col-md-3">
                        <label class="col-form-label">Tel&eacute;fono celular</label>
                        <input type="tel" th:field="*{descTelCelular}" maxlength="10" class="form-control" th:errorClass="'form-control alert-danger'"/>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('descTelCelular')}" th:errors="*{descTelCelular}"></small>
                      </div>
                      <div class="form-group col-8 col-md-3">
                        <label class="col-form-label">Tel&eacute;fono empresa</label>
                        <input type="tel" th:field="*{descTelEmpresa}" maxlength="10" class="form-control"/>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('descTelCelular')}" th:errors="*{descTelCelular}"></small>
                      </div>
                      <div class="form-group col-4 col-md-1">
                        <label class="col-form-label">Extension</label>
                        <input type="tel" th:field="*{descTelExt}" maxlength="10" class="form-control"/>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('descTelExt')}" th:errors="*{descTelExt}"></small>
                      </div>
                       <div class="form-group col-12 col-md-2">
                        <label class="col-form-label">Fecha de nacimiento</label>
                        <input id="input_fec_nac" type="text" placeholder="Ingrese fecha de nacimiento" th:field="*{fecNacimiento}" class="form-control" th:errorClass="form-control alert-danger" onchange="fecNacContacto(this.value)" oninvalid="setCustomValidity('Campo inv&aacute;lido')"/>
                        <small><label id="fec_nac" class="form-text text-danger"></label></small>
				      </div>
                    </div>
                  </div>
                </div>
              </div>
            <div class="row">
              <div class="col-sm-6">
                <input type="submit" value="Guardar" class="btn btn-primary"/>
                <a th:href="@{/agenda}" class="btn btn-secondary">Cancelar</a>
              </div>
            </div>
            <input type="hidden" th:field="*{codContacto}"/>
            <input type="hidden" th:field="*{fecRegistro}"/>
          </form>
		    </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

       <!-- Footer -->
      <footer th:replace="layout/layout :: footer"></footer>
      <!-- End of Footer -->


    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

	 <!-- ModalLogout -->
      <footer th:replace="layout/layout :: modalLogout"></footer>
      <!-- End ModalLogout -->

  <!-- Bootstrap core JavaScript-->
  <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  <!-- Core plugin JavaScript-->
  <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

  <!-- Custom scripts for all pages-->
  <script th:src="@{/js/sb-admin-2.min.js}"></script>

  <!-- Page level plugins -->
  <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
  <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

  <!-- Page level custom scripts -->
  <script th:src="@{/js/demo/datatables-demo.js}"></script>
  
  <script th:src="@{/js/datosRecursoSesion.js}"></script>
  <script th:src="@{/js/fecNacContacto.js}"></script>

</body>

</html>