<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head >

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Sophitech</title>

  <!-- Custom fonts for this template-->
  <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link  th:href="@{/css/sb-admin-2.css}" rel="stylesheet">
  <link  th:href="@{/css/jquery-ui.min.css}" rel="stylesheet">
  
  <link  th:href="@{/css/style.css}" rel="stylesheet">
  
  <link  th:href="@{/css/calendario.css}" rel="stylesheet">
  
  
</head>

<body id="page-top">
  <input id="authGetName" type="hidden" th:value="${#authentication.getName()}"></input>
  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="layout/layout::menu"> </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <header th:replace="layout/layout :: header"></header>

        <!-- Begin Page Content -->
        <div class="container-fluid">
        
        <input id="codRecurso" type="hidden" th:value="${codRecurso}"></input>
        <input id="hoy" type="hidden" th:value="${hoyVal}"></input>

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-1">
			<h1 class="h3 text-gray-800"><a th:href="@{'/misVacaciones/' + ${#authentication.getName()}}"><i style="font-size: 14px;" class="fas fa-chevron-left"></i></a>  Solicitud de vacaciones</h1>
          </div>
          
			<!-- Content Row -->
			<div class="row">
	            <!-- Earnings (Monthly) Card Example -->
	            <div class="col-xl-3 col-md-3 mb-2">
	              <div class="card border-left-success  shadow h-100 py-2">
	                <div class="card-body">
	                  <div class="row no-gutters align-items-center">
	                    <div class="col mr-2">
	                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Dias disponibles</div>
	                      <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${recursoVacaciones.valDisponibles}" id="conteoDisponibles"></div>
	                    </div>
	                    <div class="col-auto">
	                      <i class="fas fa-plane fa-2x text-gray-300"></i>
	                    </div>
	                  </div>
	                </div>
	              </div>
	            </div>
	            
	            <div class="col-xl-3 col-md-3 mb-2">
	              <div class="card border-left-warning  shadow h-100 py-2">
	                <div class="card-body">
	                  <div class="row no-gutters align-items-center">
	                    <div class="col mr-2">
	                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Dias seleccionados</div>
	                      <div class="h5 mb-0 font-weight-bold text-gray-800" id="conteoSolicitados">0</div>
	                    </div>
	                    <div class="col-auto">
	                      <i class="far fa-calendar-plus fa-2x text-gray-300"></i>
	                    </div>
	                  </div>
	                </div>
	              </div>
	            </div>
	            
	            
	            <!-- Earnings (Monthly) Card Example -->
	            <div class="col-xl-6 col-md-6 mb-2">
	              <div class="card border-left-info  shadow h-100 py-2">
	                <div class="card-body">
	                  <div class="row no-gutters align-items-center">
	                    <div class="col mr-2">
	                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Proyectos activos:</div>
	                      <div class="mb-0 text-gray-800" id="mensajeInfo" th:text="${informacion}" style="font-size: 10px;"></div>
	                    </div>
	                    <div class="col-auto">
	                      <i class="fas fa-tasks fa-2x text-gray-300"></i>
	                    </div>
	                  </div>
	                </div>
	              </div>
	            </div>
	            
	          </div>
          

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-body">
				<div id="app">
				
				
				</div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer th:replace="layout/layout :: footer"></footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->
  
  
  <div class="modal fade" id="modalConfirmSolicitud" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="modalConfirmSolicitudLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h6 class="modal-title" id="modalConfirmSolicitudLabel">Confirmar solicitud</h6>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
 				</div>
				<div class="modal-body" style="text-align: center;">
					<i class="far fa-calendar-alt fa-2x text-gray-300"></i><br><br>
					<p id="confirmacionSolicitud">
						<!-- texto de confirmacion -->
					</p>
				</div>
				<div class="modal-footer" id="btn-control">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
					<button type="button" class="btn btn-primary" onclick="enviarConfirmacion(); return false;">Aceptar</button>
				</div>
    		</div>
  		</div>
	</div>
  
  
  
  
  
  
  

  <!-- Scroll to Top Button--> <div class="st-actionContainer right-bottom" id="btnFlash"> <div class="st-btn-container right-bottom" onclick="flashSurvey(); return false;"> <div class="st-button-main"><i class="fa fa-bolt" aria-hidden="true"></i></div> </div> </div>
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

	  <!-- ModalLogout -->
      <footer th:replace="layout/layout :: modalLogout"></footer>
      <!-- End ModalLogout -->
      
  <!-- Bootstrap core JavaScript-->
  <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  <!-- Core plugin JavaScript-->
  <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

  <!-- Custom scripts for all pages-->
  <script th:src="@{/js/sb-admin-2.min.js}"></script>
  
  <script th:src="@{/js/datosRecursoSesion.js}"></script>
  
  <script th:src="@{/js/calendario.js}"></script>
  
<script type="text/javascript">
  $(document).ready(function() {
	  
  });
  
  
  function verDetalleSolicitud(verId){
	  var idSolicitud = verId.substring(4);
	  $("#modalDetalleSolicitud").modal('show');
	  $.ajax({
			url: "/verDetalleSolicitud",
			data: {idSolicitud:idSolicitud},
			success: function(result){
				$("#detalleSolicitud").html(result);
			}
		});
  }
  
  function enviarConfirmacion(){
	  $("#btn-control").html('<div class="spinner-grow text-muted"></div>');
	  let dias = [];
		$('.remove-event').each(function(){
			dias.push($(this).attr('id'));
		});
		 $.ajax({
				url: "/confirmarSolicitud",
				data: {codRecurso:$("#codRecurso").val(),
						diasSelec:JSON.stringify(dias),
						usr:$("#authGetName").val(),
						totalSolicitud:$("#conteoSolicitados").text()
				},
				success: function(result){
// 					window.location.href = "https://sophitech.herokuapp.com/"; alert(result);
					window.location.href = "http://localhost:8080" + result;
						}
			});
  }
  
  //Modal para solicitud ?
  function solicitar(){
	$("#confirmacionSolicitud").html("¿Confirmar la solicitud de " + $("#conteoSolicitados").text() + " día(s) de vacaciones?")
	$("#modalConfirmSolicitud").modal('show');
  }  
  </script>
  

</body>

</html>
