<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/layout::head"></head>

<body id="page-top">
	<input id="authGetName" type="hidden" th:value="${#authentication.getName()}"></input>

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="layout/layout::menu"> </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

         <header th:replace="layout/layout :: header"></header>
         
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800" th:text="${titulo}"></h1>
          <!-- <p class="mb-4">Completa la informaci&oacute;n del nuevo recurso.</p> -->
			
			<form th:action="@{/formHerramienta}" th:Object="${herramienta}" method="post">
				<div class="card shadow mb-4">
					<!-- Card Header - Accordion -->
					<a href="#collapseCardGenerales" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardGenerales">
						<h6 class="m-0 font-weight-bold text-primary">Datos de la herramienta</h6>
					</a>
					<!-- Card Content - Collapse -->
					<div class="collapse show" id="collapseCardGenerales">
						<div class="card-body">

							<div class="row">
								<div class="form-group col-12 col-md-5">
									<label class="col-form-label">Descripci&oacute;n de la herramienta*</label>
									<input type="text" th:field="*{descHerramienta}" class="form-control" th:errorclass="'form-control alert-danger'"/>
									<small class="form-text text-danger" th:if="${#fields.hasErrors('descHerramienta')}" th:errors="*{descHerramienta}"></small>
								</div>
								<div class="form-group col-12 col-md-4">
									<label class="col-form-label">N&uacute;mero de serie*</label>
									<input type="text" th:field="*{descNumeroSerie}" class="form-control" th:errorclass="'form-control alert-danger'"/>
									<small class="form-text text-danger" th:if="${#fields.hasErrors('descNumeroSerie')}" th:errors="*{descNumeroSerie}"></small>
								</div>
								
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-6">
						<input type="submit" value="Guardar" class="btn btn-primary"/>
						<a class="btn btn-secondary" th:href="@{/listarHerramientas/} + ${herramienta.recurso.codRecurso}">Cancelar</a>
					</div>
				</div>
				
			</form>

		</div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

       <!-- Footer -->
      <footer th:replace="layout/layout :: footer"></footer>
      <!-- End of Footer -->


    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button--> <div class="st-actionContainer right-bottom" id="btnFlash"> <div class="st-btn-container right-bottom" onclick="flashSurvey(); return false;"> <div class="st-button-main"><i class="fa fa-bolt" aria-hidden="true"></i></div> </div> </div>
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

	 <!-- ModalLogout -->
      <footer th:replace="layout/layout :: modalLogout"></footer>
      <!-- End ModalLogout -->

  <!-- Bootstrap core JavaScript-->
  <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  <!-- Core plugin JavaScript-->
  <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

  <!-- Custom scripts for all pages-->
  <script th:src="@{/js/sb-admin-2.min.js}"></script>

  <!-- Page level plugins -->
  <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
  <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

  <!-- Page level custom scripts -->
  <script th:src="@{/js/demo/datatables-demo.js}"></script>
  
  <script th:src="@{/js/datosRecursoSesion.js}"></script>

</body>

</html>
