
<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/layout::head"></head>

<body id="page-top">
<input id="authGetName" type="hidden" th:value="${#authentication.getName()}"></input>
<input id="valCodRecurso" type="hidden" th:value="${codRecurso}"></input>

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/}">
        <div class="sidebar-brand-icon">
          <!--<i class="fas fa-laugh-wink"></i>  rotate-n-15-->
          <img th:src="@{/img/logo-img.png}" alt="">
        </div> 
        <div class="sidebar-brand-text mx-3"><img th:src="@{/img/logo-texto.png}" alt=""></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" th:href="@{/}">
          <i class="fa fa-home"></i>
          <span>Inicio</span></a>
      </li>
      
      <!-- Divider -->
      <hr sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_APROB')" class="sidebar-divider">

      <!-- Heading Proyecto -->
      <div sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_APROB')" class="sidebar-heading">
        Clientes
      </div>

      <!-- Nav Item - Gastos y tiempo Collapse Menu -->
      <li class="nav-item" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_APROB')">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseClientes" aria-expanded="true" aria-controls="collapseClientes">
          <i class="fas fa-fw fa-address-book"></i>
          <span>Gesti&oacute;n de clientes</span>
        </a>
        <div id="collapseClientes" class="collapse" aria-labelledby="menuClientes" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Ver:</h6>
            <a class="collapse-item" th:href="@{/listaClientes}">Mis clientes</a>
            <a class="collapse-item" th:href="@{/agenda}">Mis contactos</a>
          </div>
        </div>
      </li>
      

      <!-- Divider -->
      <hr sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_LIDER','ROLE_APROB', 'ROLE_USER')"  class="sidebar-divider">

      <!-- Heading Proyecto -->
      <div sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_LIDER', 'ROLE_USER', 'ROLE_APROB')" class="sidebar-heading">
        Proyectos
      </div>
      
	  <!-- Nav Item - Actividades Collapse Menu -->
      <li class="nav-item">
        <a sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_LIDER','ROLE_APROB', 'ROLE_USER')" class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProyectos" aria-expanded="true" aria-controls="collapseProyectos">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Gesti&oacute;n de proyectos</span>
        </a>
        <div id="collapseProyectos" class="collapse" aria-labelledby="menuProyectos" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Ver:</h6>
            <a sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_APROB')" class="collapse-item"  th:href="@{/listaProyectosTodo}">Mis proyectos</a><!-- <a sec:authorize="hasRole('ROLE_LIDER')" class="collapse-item"  th:href="@{/listaMisProyectos/} + ${#authentication.getName()}">Mis proyectos</a> -->
            <a sec:authorize="hasAnyRole('ROLE_APROB','ROLE_LIDER','ROLE_USER')" class="collapse-item" th:href="@{/misActividades/} + ${#authentication.getName()}">Mis actividades</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Gastos y tiempo Collapse Menu -->
      <li class="nav-item active">
        <a sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_LIDER', 'ROLE_USER','ROLE_APROB')" class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseGastosTiempo" aria-expanded="true" aria-controls="collapseGastosTiempo">
          <i class="fas fa-fw fa-calendar-alt"></i>
          <span>Gesti&oacute;n de tiempo</span>
        </a>
        <div id="collapseGastosTiempo" class="collapse" aria-labelledby="menuGastosTiempo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Ver:</h6>
            <a sec:authorize="hasAnyRole('ROLE_LIDER','ROLE_USER','ROLE_APROB')" class="collapse-item active" th:href="@{/capHoras/} + ${#authentication.getName()}">Mis horas</a>
            <a sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_APROB')" class="collapse-item" th:href="@{/aprobacionHorasProyecto/}+${#authentication.getName()}">Aprobaci&oacute;n de horas</a>
            <a sec:authorize="hasAnyRole('ROLE_APROB','ROLE_LIDER','ROLE_USER' )" class="collapse-item" th:href="@{/misGastos/} + ${#authentication.getName()}">Mis gastos</a>
            <a sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_APROB')" class="collapse-item" th:href="@{/aprobaciongastos/}+ ${#authentication.getName()}">Aprobaci&oacute;n de gastos</a>
          </div>
        </div>
      </li>

 
      
       <!-- Divider -->
      <hr sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_RH')" class="sidebar-divider">

      <!-- Heading Proyecto -->
      <div sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_RH')" class="sidebar-heading">
        Recursos
      </div>

      <!-- Nav Item - Recursos Collapse Menu -->
      <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_RH')" class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRecursos" aria-expanded="true" aria-controls="collapseRecursos">
          <i class="fas fa-fw fa-id-card"></i>
          <span>Gesti&oacute;n de recursos</span>
        </a>
        <div id="collapseRecursos" class="collapse" aria-labelledby="menuRecursos" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Ver:</h6>
            <a class="collapse-item" th:href="@{/listarRecursos}">Mis recursos</a>
          </div>
        </div>
      </li>
      
            <!-- Divider -->
      <hr sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_RH')" class="sidebar-divider">

      <!-- Heading Proyecto -->
      <div sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_RH')" class="sidebar-heading">
        Encuestas
      </div>

      <!-- Nav Item - Recursos Collapse Menu -->
      <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_RH')" class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEncuestas" aria-expanded="true" aria-controls="collapseEncuestas">
          <i class="fas fa-fw fa-id-card"></i>
          <span>Gesti&oacute;n de encuestas</span>
        </a>
        <div id="collapseEncuestas" class="collapse" aria-labelledby="menuEncuestas" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Ver:</h6>
            <a class="collapse-item" th:href="@{/flashClima}">Flash clima</a>
          </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

         <header th:replace="layout/layout :: header"></header>
         
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800" th:text="${titulo}"></h1>
<!--           <p class="mb-4">Completa la informaci&oacute;n.</p> -->
          
          
          <p id="fechaDiaActual"></p>
          <div class="pb-3">
          <a type="button" class="btn btn-primary" id="antDia">
              <i class="fas fa-caret-left fa-sm text-white-50"></i>
            </a>
          <a type="button" class="btn btn-primary" id="sigDia">
              <i class="fas fa-caret-right fa-sm text-white-50"></i>
            </a>
              
          <a class="btn btn-primary" data-toggle="modal" data-target="#capHoraModal"  href="#" role="button">
              <i class="fas fa-calendar-plus fa-sm text-white-50"></i> Nueva captura</a>
          </div>
          
          <div class="card shadow mb-4">
			
			<div id="semanaDias">
				<div class="list-group list-group-horizontal-sm">
				  <a id="da0" href="#!" class="noLink list-group-item list-group-item-action" style="font-size: 12px; padding: 5px 5px;"><b>Dom</b><br><span id="d0"></span></a>
				  <a id="da1" href="#!" class="noLink list-group-item list-group-item-action" style="font-size: 12px; padding: 5px 5px;"><b>Lun</b><br><span id="d1"></span></a>
				  <a id="da2" href="#!" class="noLink list-group-item list-group-item-action" style="font-size: 12px; padding: 5px 5px;"><b>Mar</b><br><span id="d2"></span></a>
				  <a id="da3" href="#!" class="noLink list-group-item list-group-item-action" style="font-size: 12px; padding: 5px 5px;"><b>Mie</b><br><span id="d3"></span></a>
				  <a id="da4" href="#!" class="noLink list-group-item list-group-item-action" style="font-size: 12px; padding: 5px 5px;"><b>Jue</b><br><span id="d4"></span></a>
				  <a id="da5" href="#!" class="noLink list-group-item list-group-item-action" style="font-size: 12px; padding: 5px 5px;"><b>Vie</b><br><span id="d5"></span></a>
				  <a id="da6" href="#!" class="noLink list-group-item list-group-item-action" style="font-size: 12px; padding: 5px 5px;"><b>Sab</b><br><span id="d6"></span></a>
				  <a id="da7" href="#!" class="noLink list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true"  style="font-size: 12px; padding: 5px 5px;">Total:<br><span id="dt" style="font-weight: 700;"></span></a>
				</div>
			</div>
			
			
			<div id="detalleHorasCapturadas" style="font-size: 14px;">
<!-- 				Aqui va el detalle de las horas capturadas por fecha seleccionada			 -->
			</div>

          </div>
			
		</div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

       <!-- Footer -->
      <footer th:replace="layout/layout :: footer"></footer>
      <!-- End of Footer -->


    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button--> <div class="st-actionContainer right-bottom" id="btnFlash"> <div class="st-btn-container right-bottom" onclick="flashSurvey(); return false;"> <div class="st-button-main"><i class="fa fa-bolt" aria-hidden="true"></i></div> </div> </div>
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  
  
  <div th:fragment="modalCapHora">
 <!-- Logout Modal-->
  <div class="modal fade" id="capHoraModal" tabindex="-1" role="dialog" aria-labelledby="capHoraModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          	<h5 class="modal-title" id="capHoraModalLabel">
			    Captura de horas<br>
			    <span style="font-size: 12px;" id="fechaModal">
			        
			    </span>
			</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body" style="font-size: 14px;">
		
			<div class="row">
				<div class="form-group col-12 col-md-12">
					<div id="resultListProyecto">
						<label class="col-form-label">Proyecto</label>
						<div class="input-group">
							<select class="custom-select" id="selectProyecto" style="font-size: 14px; padding: 0px 10px;">
								<option th:each="entry : ${proyectoList}" th:value="${entry.key}" th:text="${entry.value}"></option>
							</select>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="form-group col-12 col-md-12">	
					<div id="resultListActividadesPrimarias">
						<!--aqui va listado de actividades primarias por proyecto y recurso -->
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="form-group col-12 col-md-12">	
					<div id="resultListActividadesSecundarias">
						<!--aqui va listado de actividades por proyecto y recurso -->
					</div>
				</div>
			</div>
			
<!-- 			<div class="row"> -->
<!-- 				<div class="form-group col-12 col-md-12">	 -->
					<div id="resultDetActividades">
						<!--aqui va el complemento para el detalle de actividades -->
					</div>
<!-- 				</div> -->
<!-- 			</div> -->
			
		
<!--    	</form> --> 
		</div>
       <div class="modal-footer">
    		<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
          	<button onclick="validaForm();" type="submit" class="btn btn-primary">Aceptar</button>
  		</div>
          
        </div>
      </div>
    </div>
  </div>
  
  
  	  <div th:fragment="modalCapHoraEdit">
 <!-- Logout Modal-->
  <div class="modal fade" id="capHoraModalEdit" tabindex="-1" role="dialog" aria-labelledby="capHoraModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          	<h5 class="modal-title" id="capHoraModalLabel">
			    Editar captura de horas<br>
			 
			</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
		
			<div class="row">
				<div class="form-group col-12 col-md-12">
					<div id="formEditCaptura">
											
					</div>
				</div>
			</div>
			
		</div>
       <div class="modal-footer">
    		<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
          	<button onclick="validaFormEdit();" class="btn btn-primary" type="submit">Aceptar</button>
  		</div>
          
        </div>
      </div>
    </div>
  </div>
  
  
  
  
  
  
  

	 <!-- ModalLogout -->
      <footer th:replace="layout/layout :: modalLogout"></footer>
      <!-- End ModalLogout -->
      
  

  <!-- Bootstrap core JavaScript-->
  <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/vendor/jquery/jquery-ui.min.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  <!-- Core plugin JavaScript-->
  <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

  <!-- Custom scripts for all pages-->
  <script th:src="@{/js/sb-admin-2.min.js}"></script>

  <!-- Page level plugins -->
  <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
  <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

  <!-- Page level custom scripts -->
  <script th:src="@{/js/demo/datatables-demo.js}"></script>
  
  <!-- Captura de horas scripts -->
  <script th:src="@{/js/capHoras.js}"></script>
  
  <script th:src="@{/js/datosRecursoSesion.js}"></script>

</body>

</html>
