<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout::head"></head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/}">
        <div class="sidebar-brand-icon">
          <!--<i class="fas fa-laugh-wink"></i>  rotate-n-15-->
          <img th:src="@{/img/logo-img.png}" alt="">
        </div> 
        <div class="sidebar-brand-text mx-3"><img th:src="@{/img/logo-texto.png}" alt=""></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" th:href="@{/}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading Proyecto -->
      <div class="sidebar-heading">
        Proyecto
      </div>

      <!-- Nav Item - Gastos y tiempo Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>Gastos y tiempo</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Registrar:</h6>
            <a class="collapse-item" href="#">Horas</a>
            <a class="collapse-item" href="#">Gastos</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Actividades Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Actividades</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Ver:</h6>
            <a class="collapse-item" href="#">Mis actividades</a>
            <a class="collapse-item" href="#">Mi forecast</a>
          </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

     <!-- Heading Recursos humanos -->
      <div class="sidebar-heading">
        Recursos Humanos
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item active">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
          <i class="fas fa-fw fa-folder"></i>
          <span>Recursos</span>
        </a>
        <div id="collapsePages" class="collapse show" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Gestionar</h6>
            <a class="collapse-item" th:href="@{/formRecurso}">Alta</a>
            <a class="collapse-item active" href="#">Todos</a>
            <div class="collapse-divider"></div>
            <h6 class="collapse-header">Experiencia</h6>
            <a class="collapse-item" href="#">Skills</a>
            <a class="collapse-item" href="#">Capacitaci&oacute;n</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Charts -->
      <!-- <li class="nav-item">
        <a class="nav-link" href="charts.html">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Charts</span></a>
      </li> -->

      <!-- Nav Item - Tables -->
     <!-- <li class="nav-item">
        <a class="nav-link" href="tables.html">
          <i class="fas fa-fw fa-table"></i>
          <span>Tables</span></a>
      </li> -->

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <header th:replace="layout/layout :: header"></header>

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-2 text-gray-800" th:text="${titulo}"></h1>
            <a type="button" class="btn btn-primary" th:href="@{/formCliente}" >
              <i class="fas fa-plus fa-sm text-white-50"></i> Nuevo cliente
            </a>
          </div>
          
          <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Listado de clientes</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
	                 <thead>
	                   <tr>
	                      <th>Cliente</th>
	                               <th>C&oacute;digo de cliente</th>
	                               <th>Direcci&oacute;n fiscal</th>
	                               <th>Grupo Empresarial</th>
	                               <th>R.F.C.</th>
	                               <th>Sector</th>
	                               <th>Acciones</th>
	                   </tr>
	                 </thead>
	                 <tfoot>
	                   <tr>
	                     <th>Cliente</th>
	                              <th>C&oacute;digo de cliente</th>
	                              <th>Direcci&oacute;n fiscal</th>
	                              <th>Grupo Empresarial</th>
	                              <th>R.F.C.</th>
	                              <th>Sector</th>
	                              <th>Acciones</th>
	                   </tr>
	                 </tfoot>
	                 <tbody>
	                 	<tr th:each="cliente: ${clientes}">
	                                <td th:text="${cliente.descCliente}"></td>
	                                <td th:text="${cliente.descCodigoCliente}"></td>
	                                <td th:text="${cliente.descDireccionFiscal}"></td>
	                                <td th:text="${cliente.descGrupoEmpresarial}"></td>
	                                <td th:text="${cliente.descRFC}"></td>
	                                <td th:text="${cliente.codSector}"></td>
	                                <td><a th:href="@{/dataCliente/} + ${cliente.codCliente}" class="btn btn-primary btn-circle btn-sm"><i class="far fa-eye"></i></a>
	                                    <a th:href="@{/formCliente/} + ${cliente.codCliente}" class="btn btn-primary btn-circle btn-sm"><i class="far fa-edit"></i></a>
	<!--                                         <a th:onclick="eliminar([[${cliente.codCliente}]])" -->
	<!--                                             class="btn btn-primary btn-circle btn-sm"><i -->
	<!--                                                 class="far fa-window-close"></i></a> -->
	                                </td>
	                            </tr>
	                 </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer th:replace="layout/layout :: footer"></footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

	  <!-- ModalLogout -->
      <footer th:replace="layout/layout :: modalLogout"></footer>
      <!-- End ModalLogout -->
      
  <!-- Bootstrap core JavaScript-->
  <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  <!-- Core plugin JavaScript-->
  <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

  <!-- Custom scripts for all pages-->
  <script th:src="@{/js/sb-admin-2.min.js}"></script>

  <!-- Page level plugins -->
  <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
  <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

  <!-- Page level custom scripts -->
  <script th:src="@{/js/demo/datatables-demo.js}"></script>
  

</body>

</html>
