<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout::head"></head>

<body id="page-top">
  <input id="authGetName" type="hidden" th:value="${#authentication.getName()}"></input>
	<!-- Page Wrapper -->
	<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/}">
        <div class="sidebar-brand-icon">
          <!--<i class="fas fa-laugh-wink"></i>  rotate-n-15-->
          <img th:src="@{/img/logo-img.png}" alt="">
        </div> 
        <div class="sidebar-brand-text mx-3"><img th:src="@{/img/logo-texto.png}" alt=""></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" th:href="@{/}">
          <i class="fa fa-home"></i>
          <span>Inicio</span></a>
      </li>
      
      <!-- Divider -->
      <hr sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_APROB')" class="sidebar-divider">

      <!-- Heading Proyecto -->
      <div sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_APROB')" class="sidebar-heading">
        Clientes
      </div>

      <!-- Nav Item - Gastos y tiempo Collapse Menu -->
      <li class="nav-item" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_APROB')">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseClientes" aria-expanded="true" aria-controls="collapseClientes">
          <i class="fas fa-fw fa-address-book"></i>
          <span>Gesti&oacute;n de clientes</span>
        </a>
        <div id="collapseClientes" class="collapse" aria-labelledby="menuClientes" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Ver:</h6>
            <a class="collapse-item" th:href="@{/listaClientes}">Mis clientes</a>
            <a class="collapse-item" th:href="@{/agenda}">Mis contactos</a>
          </div>
        </div>
      </li>
      

      <!-- Divider -->
      <hr sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_LIDER','ROLE_APROB', 'ROLE_USER')"  class="sidebar-divider">

      <!-- Heading Proyecto -->
      <div sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_LIDER', 'ROLE_USER', 'ROLE_APROB')" class="sidebar-heading">
        Proyectos
      </div>
      
	  <!-- Nav Item - Actividades Collapse Menu -->
      <li class="nav-item active">
        <a sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_LIDER','ROLE_APROB', 'ROLE_USER')" class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProyectos" aria-expanded="true" aria-controls="collapseProyectos">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Gesti&oacute;n de proyectos</span>
        </a>
        <div id="collapseProyectos" class="collapse" aria-labelledby="menuProyectos" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Ver:</h6>
            <a sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_APROB')" class="collapse-item"  th:href="@{/listaProyectosTodo}">Mis proyectos</a><!-- <a sec:authorize="hasRole('ROLE_LIDER')" class="collapse-item"  th:href="@{/listaMisProyectos/} + ${#authentication.getName()}">Mis proyectos</a> -->
            <a sec:authorize="hasAnyRole('ROLE_APROB','ROLE_LIDER','ROLE_USER')" class="collapse-item" th:href="@{/misActividades/} + ${#authentication.getName()}">Mis actividades</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Gastos y tiempo Collapse Menu -->
      <li class="nav-item">
        <a sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_LIDER', 'ROLE_USER','ROLE_APROB')" class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseGastosTiempo" aria-expanded="true" aria-controls="collapseGastosTiempo">
          <i class="fas fa-fw fa-calendar-alt"></i>
          <span>Gesti&oacute;n de tiempo</span>
        </a>
        <div id="collapseGastosTiempo" class="collapse" aria-labelledby="menuGastosTiempo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Ver:</h6>
            <a sec:authorize="hasAnyRole('ROLE_APROB','ROLE_LIDER','ROLE_USER' )" class="collapse-item" th:href="@{/capHoras/} + ${#authentication.getName()}">Mis horas</a>
            <a sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_APROB')" class="collapse-item" th:href="@{/aprobacionHorasProyecto/}+${#authentication.getName()}">Aprobaci&oacute;n de horas</a>
            <a sec:authorize="hasAnyRole('ROLE_APROB','ROLE_LIDER','ROLE_USER' )" class="collapse-item" th:href="@{/misGastos/} + ${#authentication.getName()}">Mis gastos</a>
            <a sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_APROB')" class="collapse-item" th:href="@{/aprobaciongastos/}+ ${#authentication.getName()}">Aprobaci&oacute;n de gastos</a>
          </div>
        </div>
      </li>

 
      
       <!-- Divider -->
      <hr sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_RH')" class="sidebar-divider">

      <!-- Heading Proyecto -->
      <div sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_RH')" class="sidebar-heading">
        Recursos
      </div>

      <!-- Nav Item - Recursos Collapse Menu -->
      <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_RH')" class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRecursos" aria-expanded="true" aria-controls="collapseRecursos">
          <i class="fas fa-fw fa-id-card"></i>
          <span>Gesti&oacute;n de recursos</span>
        </a>
        <div id="collapseRecursos" class="collapse" aria-labelledby="menuRecursos" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Ver:</h6>
            <a class="collapse-item" th:href="@{/listarRecursos}">Mis recursos</a>
          </div>
        </div>
      </li>
      
                  <!-- Divider -->
      <hr sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_RH')" class="sidebar-divider">

      <!-- Heading Proyecto -->
      <div sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_RH')" class="sidebar-heading">
        Encuestas
      </div>

      <!-- Nav Item - Recursos Collapse Menu -->
      <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_RH')" class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEncuestas" aria-expanded="true" aria-controls="collapseEncuestas">
          <i class="fas fa-fw fa-id-card"></i>
          <span>Gesti&oacute;n de encuestas</span>
        </a>
        <div id="collapseEncuestas" class="collapse" aria-labelledby="menuEncuestas" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Ver:</h6>
            <a class="collapse-item" th:href="@{/flashClima}">Flash clima</a>
          </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

				<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<header th:replace="layout/layout :: header"></header>

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<div
						class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 class="h3 mb-2 text-gray-800" th:text="'Resumen previo a la carga'"></h1>
					</div>
					
					 <!-- Content Row -->
			          <div class="row">
			
			            <!-- Earnings (Monthly) Card Example -->
			            <div class="col-xl-4 col-md-6 mb-4">
			              <div class="card border-left-primary shadow h-100 py-2">
			                <div class="card-body">
			                  <div class="row no-gutters align-items-center">
			                    <div class="col mr-2">
			                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total de recursos identificados</div>
			                      <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${totalRecursosIdentificados}"></div>
			                    </div>
			                    <div class="col-auto">
			                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
			                    </div>
			                  </div>
			                </div>
			              </div>
			            </div>
			
			            <!-- Earnings (Monthly) Card Example -->
			            <div class="col-xl-4 col-md-6 mb-4">
			              <div class="card border-left-success shadow h-100 py-2">
			                <div class="card-body">
			                  <div class="row no-gutters align-items-center">
			                    <div class="col mr-2">
			                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Fecha inicio del plan</div>
			                      <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${fechaInicioPlan}"></div>
			                    </div>
			                    <div class="col-auto">
			                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
			                    </div>
			                  </div>
			                </div>
			              </div>
			            </div>
			
			
			            <!-- Pending Requests Card Example -->
			            <div class="col-xl-4 col-md-6 mb-4">
			              <div class="card border-left-warning shadow h-100 py-2">
			                <div class="card-body">
			                  <div class="row no-gutters align-items-center">
			                    <div class="col mr-2">
			                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Fecha fin del plan</div>
			                      <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${fechaFinPlan}"></div>
			                    </div>
			                    <div class="col-auto">
			                      <i class="fas fa-comments fa-2x text-gray-300"></i>
			                    </div>
			                  </div>
			                </div>
			              </div>
			            </div>
			          </div>
					 
					<p class="mb-4">Verifica que la informaci&oacute;n sea correcta antes de cargar la planeaci&oacute;n.</p>

					<p><a th:href="@{'/planeacionProyecto/'} + ${proyecto.codProyecto}" th:text="'&laquo; volver'"></a></p>
					
					<!-- DataTales Example -->
					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">Listado de actividades origen</h6>
						</div>
						<div class="card-body">
							<div class="table-responsive fz-12">
								<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
									<thead>
										<tr>
											<th>id</th>
											<th>nombre</th>
											<th>duraci&oacute;n</th>
											<th>esfuerzo</th>
											<th>% completado</th>
											<th>inicio</th>
											<th>fin</th>
											<th>predecesora</th>
											<th>recursos</th>
										</tr>
									</thead>
									
									<tbody>
										<tr th:each="actividad : ${actividadesPlan}">
											<td th:text="${actividad.serie}"></td>
											<td th:text="${actividad.nombre}"></td>
											<td th:text="${actividad.duracion}"></td>
											<td th:text="${actividad.esfuerzo}"></td>
											<td th:text="${actividad.porcentajeCompletado}"></td>
											<td th:text="${actividad.inicio}"></td>
											<td th:text="${actividad.fin}"></td>
											<td th:text="${actividad.predecesora}"></td>
											<td th:text="${actividad.recursos}"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					
					
					<!-- DataTales Example -->
					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">Listado detallado de actividades por recurso a cargar</h6>
						</div>
						<div class="card-body">
							<div class="table-responsive fz-12">
								<table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0">
									<thead>
										<tr>
											<th># Actividad</th>
											<th>Act. primaria</th>
											<th>Act. secundaria</th>
											<th>Fecha inicio</th>
											<th>Fecha fin</th>
											<th># Act. dependiente</th>
											<th>Duraci&oacute;n</th>
											<th>Recurso</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="actividadCarga : ${actividadesCargarDto.actividades}">
											<td th:text="${actividadCarga.valNumActividad}"></td>
											<td th:text="${actividadCarga.descActividadPrimaria}"></td>
											<td th:text="${actividadCarga.descActividadSecundaria}"></td>
											<td th:text="${#dates.format(actividadCarga.fecInicioActividad, 'dd/MM/yy')}"></td>
											<td th:text="${#dates.format(actividadCarga.fecFinActividad, 'dd/MM/yy')}"></td>
											<td th:text="${actividadCarga.codActividadDependiente}"></td>
											<td th:text="${actividadCarga.valDuracionActividad}"></td>
											<td th:text="${actividadCarga.nombreRecurso}"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					
					<form action="#" th:action="@{/guardarPlan}" th:Object="${actividadesCargarDto}" method="post">
					
					<div th:each="actividad, itemStat : ${actividadesCargarDto.actividades}">
        				<input type="hidden" th:name="|actividades[${itemStat.index}].valNumActividad|" th:value="${actividad.getValNumActividad()}"/>
        				<input type="hidden" th:name="|actividades[${itemStat.index}].descActividadPrimaria|" th:value="${actividad.getDescActividadPrimaria()}"/>
        				<input type="hidden" th:name="|actividades[${itemStat.index}].descActividadSecundaria|" th:value="${actividad.getDescActividadSecundaria()}"/>
        				<input type="hidden" th:name="|actividades[${itemStat.index}].fecInicioActividad|" th:value="${#dates.format(actividad.getFecInicioActividad(),'dd/MM/yyyy')}"/>
        				<input type="hidden" th:name="|actividades[${itemStat.index}].fecFinActividad|" th:value="${#dates.format(actividad.getFecFinActividad(),'dd/MM/yyyy')}"/>
        				<input type="hidden" th:name="|actividades[${itemStat.index}].codActividadDependiente|" th:value="${actividad.getCodActividadDependiente()}"/>
        				<input type="hidden" th:name="|actividades[${itemStat.index}].valDuracionActividad|" th:value="${actividad.getValDuracionActividad()}"/>
        				<input type="hidden" th:name="|actividades[${itemStat.index}].codRecurso|" th:value="${actividad.getCodRecurso()}"/>
        				<input type="hidden" th:name="|actividades[${itemStat.index}].nombreRecurso|" th:value="${actividad.getNombreRecurso()}"/>
        				<input type="hidden" th:name="|actividades[${itemStat.index}].codProyecto|" th:value="${actividad.getCodProyecto()}"/>
						<input type="hidden" th:name="|actividades[${itemStat.index}].codEstatusProyecto|" th:value="${actividad.getCodEstatusProyecto()}"/>
						<input type="hidden" th:name="|actividades[${itemStat.index}].codCliente|" th:value="${actividad.getCodCliente()}"/>
						<input type="hidden" th:name="|actividades[${itemStat.index}].valNuevaActividad|" th:value="${actividad.getValNuevaActividad()}"/>
					</div>
					
					
						<div class="row">
							<div class="col-sm-6">
								<input type="submit" value="Cargar planeaci&oacute;n" class="btn btn-primary"/>
								<a class="btn btn-secondary" type="button" th:href="@{/preventaProyectoContactoInfraestructura/} + ${proyecto.codProyecto}" >Cancelar</a>
							</div>
						</div>
					</form>

				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			<footer th:replace="layout/layout :: footer"></footer>
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- ModalLogout -->
	<footer th:replace="layout/layout :: modalLogout"></footer>
	<!-- End ModalLogout -->

	<!-- Bootstrap core JavaScript-->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

	<!-- Core plugin JavaScript-->
	<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

	<!-- Custom scripts for all pages-->
	<script th:src="@{/js/sb-admin-2.min.js}"></script>

	<!-- Page level plugins -->
	<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
	<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

	<!-- Page level custom scripts -->
	<script th:src="@{/js/demo/datatables-demo.js}"></script>

    <script th:src="@{/js/datosRecursoSesion.js}"></script>

</body>

</html>
