<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout::head"></head>

<body id="page-top">
	<input id="authGetName" type="hidden" th:value="${#authentication.getName()}"></input>

	<!-- Page Wrapper -->
	<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="layout/layout::menu"> </ul>
    <!-- End of Sidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<header th:replace="layout/layout :: header"></header>

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<!-- Page Heading -->
					<div
						class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 class="h3 mb-2 text-gray-800" th:text="${titulo}"></h1>
						<a type="button" class="btn btn-primary"
							th:href="@{/asignarSueldo/} + ${recurso.codRecurso}"> <i
							class="fas fa-plus fa-sm text-white-50"></i> Nuevo
						</a>
					</div>

<!-- 					<p class="mb-4">Encuentra aqu&iacute; el listado de todas los sueldos registrados para <b th:text="${recurso.descRecurso}"></b>, podr&aacute;s registrar un nuevo sueldo y gestionar los datos existentes.</p> -->
					
		  <a th:href="@{/verRecurso/} + ${recurso.codRecurso}" class="badge badge-info">Ver recurso <i class="far fa-address-card"></i></a>
		  <a th:href="@{/formRecurso/} + ${recurso.codRecurso}" class="badge badge-success">Editar recurso <i class="far fa-edit"></i></a>
		  <br>
		  <br>			
					<!-- DataTales Example -->
					<div class="card shadow mb-4">
						<div class="card-body">
							<div class="table-responsive fz-12">
								<table class="table" id="dataTable" width="100%" cellspacing="0">
									<thead>
										<tr>
											<th>Nomina</th>
											<th>Asimilado</th>
											<th>Bono</th>
											<th>Apoyo</th>
											<th>Otro</th>
											<th>Descripci&oacute;n otro</th>
											<th>Fecha registro</th>
											<th>Opciones</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="sueldo : ${recurso.sueldos}">
											<td th:text="${sueldo.impMensualNomina}"></td>
											<td th:text="${sueldo.impMensualAsimilado}"></td>
											<td th:text="${sueldo.impMensualBono}"></td>
											<td th:text="${sueldo.impMensualApoyo}"></td>
											<td th:text="${sueldo.impMensualOtro}"></td>
											<td th:text="${sueldo.descMensualOtro}"></td>
											<td th:text="${#dates.format(sueldo.fecRegistro,'dd/MM/yy')}"></td>
											<td>
												<a th:href="@{/formSueldo/} + ${sueldo.codSueldo}" class="badge badge-success">Editar  <i class="far fa-edit"></i></a>
												<a th:href="@{/borrarSueldo/} + ${sueldo.codSueldo}" class="badge badge-danger">Eliminar  <i class="far fa-trash-alt"></i></a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			<footer th:replace="layout/layout :: footer"></footer>
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- ModalLogout -->
	<footer th:replace="layout/layout :: modalLogout"></footer>
	<!-- End ModalLogout -->

	<!-- Bootstrap core JavaScript-->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

	<!-- Core plugin JavaScript-->
	<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

	<!-- Custom scripts for all pages-->
	<script th:src="@{/js/sb-admin-2.min.js}"></script>

	<!-- Page level plugins -->
	<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
	<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

	<!-- Page level custom scripts -->
	<script th:src="@{/js/demo/datatables-demo.js}"></script>
	
	<script th:src="@{/js/datosRecursoSesion.js}"></script>
	


</body>

</html>
