<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout::head"></head>

<body id="page-top">
 <input id="authGetName" type="hidden" th:value="${#authentication.getName()}"></input>
  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/}">
        <div class="sidebar-brand-icon">
          <!--<i class="fas fa-laugh-wink"></i>  rotate-n-15-->
          <img src="img/logo-img.png" alt="">
        </div> 
        <div class="sidebar-brand-text mx-3"><img src="img/logo-texto.png" alt=""></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" th:href="@{/}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Mi dashboard</span></a>
      </li>
      
      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading Proyecto -->
      <div class="sidebar-heading">
        Clientes
      </div>

      <!-- Nav Item - Gastos y tiempo Collapse Menu -->
      <li class="nav-item active">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseClientes" aria-expanded="true" aria-controls="collapseClientes">
          <i class="fas fa-fw fa-address-book"></i>
          <span>Gesti&oacute;n de clientes</span>
        </a>
        <div id="collapseClientes" class="collapse" aria-labelledby="menuClientes" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Ver:</h6>
            <a class="collapse-item active" th:href="@{/listaClientes}">Mis clientes</a>
            <a class="collapse-item" th:href="@{/agenda}">Mis contactos</a>
          </div>
        </div>
      </li>
      

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading Proyecto -->
      <div class="sidebar-heading">
        Proyectos
      </div>
      
      
	  <!-- Nav Item - Actividades Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProyectos" aria-expanded="true" aria-controls="collapseProyectos">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Gesti&oacute;n de proyectos</span>
        </a>
        <div id="collapseProyectos" class="collapse" aria-labelledby="menuProyectos" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Ver:</h6>
            <a class="collapse-item"  th:href="@{/listaProyectosTodo}">Mis proyectos</a>
            <a class="collapse-item" th:href="@{/misActividades/} + ${#authentication.getName()}">Mis actividades</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Gastos y tiempo Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseGastosTiempo" aria-expanded="true" aria-controls="collapseGastosTiempo">
          <i class="fas fa-fw fa-calendar-alt"></i>
          <span>Gastos y tiempo</span>
        </a>
        <div id="collapseGastosTiempo" class="collapse" aria-labelledby="menuGastosTiempo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Ver:</h6>
            <a class="collapse-item" th:href="@{/capHoras/} + ${#authentication.getName()}">Mis horas</a>
            <a class="collapse-item" th:href="@{/aprobacionhoras/}+${#authentication.getName()}">Aprobaci&oacute;n de horas</a>
            <a class="collapse-item" th:href="@{/misGastos/} + ${#authentication.getName()}">Mis gastos</a>
            <a class="collapse-item" th:href="@{/aprobaciongastos/}+ ${#authentication.getName()}">Aprobaci&oacute;n de gastos</a>
          </div>
        </div>
      </li>

 
      
       <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading Proyecto -->
      <div class="sidebar-heading">
        Recursos
      </div>

      <!-- Nav Item - Gastos y tiempo Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRecursos" aria-expanded="true" aria-controls="collapseRecursos">
          <i class="fas fa-fw fa-id-card"></i>
          <span>Gesti&oacute;n de recursos</span>
        </a>
        <div id="collapseRecursos" class="collapse" aria-labelledby="menuRecursos" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Ver:</h6>
            <a class="collapse-item" th:href="@{/listarRecursos}">Mis recursos</a>
          </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <header th:replace="layout/layout :: header"></header>

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-2 text-gray-800">Mis clientes</h1>
            <a type="button" class="btn btn-primary" th:href="@{/formCliente}" >
              <i class="fas fa-plus fa-sm text-white-50"></i> Nuevo cliente
            </a>
          </div>
          
          <p class="mb-4">Encuentra aqu&iacute; el listado de todos tus clientes registrados en <b>Sophitech</b>, podr&aacute;s registrar un nuevo cliente y gestionar los datos existentes.</p>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
<!--             <div class="card-header py-3"> -->
<!--               <h6 class="m-0 font-weight-bold text-primary">Listado de clientes</h6> -->
<!--             </div> -->
            <div class="card-body">
              <div class="table-responsive">
                <table class="table" id="dataTable" width="100%" cellspacing="0">
	                 <thead>
	                   <tr>
	                      <th>Cliente</th>
                          <th>C&oacute;digo de cliente</th>
                          <th>Direcci&oacute;n fiscal</th>
                          <th>Grupo Empresarial</th>
                          <th>R.F.C.</th>
                          <th>Sector</th>
                          <th>Acciones</th>
	                   </tr>
	                 </thead>
	                 <tbody>
	                 	<tr th:each="cliente: ${clientes}">
                            <td th:text="${cliente.descCliente}"></td>
                            <td th:text="${cliente.descCodigoCliente}"></td>
                            <td th:text="${cliente.descDireccionFiscal}"></td>
                            <td th:text="${cliente.descGrupoEmpresarial}"></td>
                            <td th:text="${cliente.descRFC}"></td>
                            <td th:text="${cliente.sector.descSector}"></td>
                            <td>
<!-- 								<div class="btn-group btn-group-sm" role="group" aria-label="Basic example"> -->
<!-- 									<a type="button" class="btn btn-info" th:href="@{/dataCliente/} + ${cliente.codCliente}" data-toggle="tooltip" title="Ver"><i class="far fa-address-book"></i></a> -->
<!-- 									<a type="button" class="btn btn-info" th:href="@{/formCliente/} + ${cliente.codCliente}" data-toggle="tooltip" title="Editar"><i class="far fa-edit"></i></a> -->
									<a th:href="@{/dataCliente/} + ${cliente.codCliente}" class="badge badge-info">Ver  <i class="far fa-address-book"></i></a><br>
									<a th:href="@{/formCliente/} + ${cliente.codCliente}" class="badge badge-success">Editar  <i class="far fa-edit"></i></a>
<!-- 								</div> -->
							</td>
                            
                            
<!--                             <td> -->
<!--                             	<a th:href="@{/dataCliente/} + ${cliente.codCliente}"  class="badge badge-info">Ver <i class="far fa-address-book"></i></a> -->
<!-- 	                            <a th:href="@{/formCliente/} + ${cliente.codCliente}" class="badge badge-success">Editar  <i class="far fa-edit"></i></a> -->
	<!--                                         <a th:onclick="eliminar([[${cliente.codCliente}]])" -->
	<!--                                             class="btn btn-primary btn-circle btn-sm"><i -->
	<!--                                                 class="far fa-window-close"></i></a> -->
<!-- 	                        </td> -->
						</tr>
	                 </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer th:replace="layout/layout :: footer"></footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

	  <!-- ModalLogout -->
      <footer th:replace="layout/layout :: modalLogout"></footer>
      <!-- End ModalLogout -->
      
  <!-- Bootstrap core JavaScript-->
  <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  <!-- Core plugin JavaScript-->
  <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

  <!-- Custom scripts for all pages-->
  <script th:src="@{/js/sb-admin-2.min.js}"></script>

  <!-- Page level plugins -->
  <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
  <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

  <!-- Page level custom scripts -->
  <script th:src="@{/js/demo/datatables-demo.js}"></script>
  
    <script th:src="@{/js/datosRecursoSesion.js}"></script>

</body>

</html>
