<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Proyecto</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">


  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  
  <!-- Custom styles for this page -->
  <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/}">
        <div class="sidebar-brand-icon">
          <!--<i class="fas fa-laugh-wink"></i>  rotate-n-15-->
          <img th:src="@{/img/logo-img.png}" alt="">
        </div> 
        <div class="sidebar-brand-text mx-3"><img th:src="@{/img/logo-texto.png}" alt=""></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" th:href="@{/}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Mi dashboard</span></a>
      </li>
      
      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading Proyecto -->
      <div class="sidebar-heading">
        Clientes
      </div>

      <!-- Nav Item - Gastos y tiempo Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseClientes" aria-expanded="true" aria-controls="collapseClientes">
          <i class="fas fa-fw fa-address-book"></i>
          <span>Gesti&oacute;n de clientes</span>
        </a>
        <div id="collapseClientes" class="collapse" aria-labelledby="menuClientes" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Ver:</h6>
            <a class="collapse-item" th:href="@{/listaClientes}">Mis clientes</a>
            <a class="collapse-item" th:href="@{/agenda}">Mis contactos</a>
          </div>
        </div>
      </li>
      

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading Proyecto -->
      <div class="sidebar-heading">
        Proyectos
      </div>
      
      
	  <!-- Nav Item - Actividades Collapse Menu -->
      <li class="nav-item active">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProyectos" aria-expanded="true" aria-controls="collapseProyectos">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Gesti&oacute;n de proyectos</span>
        </a>
        <div id="collapseProyectos" class="collapse" aria-labelledby="menuProyectos" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Ver:</h6>
            <a class="collapse-item active"th:href="@{/listaProyectosTodo}">Mis proyectos</a>
            <a class="collapse-item" href="#">Mis actividades</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Gastos y tiempo Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseGastosTiempo" aria-expanded="true" aria-controls="collapseGastosTiempo">
          <i class="fas fa-fw fa-calendar-alt"></i>
          <span>Gastos y tiempo</span>
        </a>
        <div id="collapseGastosTiempo" class="collapse" aria-labelledby="menuGastosTiempo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Ver:</h6>
            <a class="collapse-item" href="#">Mi captura de horas</a>
            <a class="collapse-item" th:href="@{/aprobacionhoras}">Aprobaci&oacute;n de horas</a>
            <a class="collapse-item" href="#">Mi captura de gastos</a>
            <a class="collapse-item" th:href="@{/aprobaciongastos}">Aprobaci&oacute;n de gastos</a>
          </div>
        </div>
      </li>

 
      
       <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading Proyecto -->
      <div class="sidebar-heading">
        Recursos
      </div>

      <!-- Nav Item - Gastos y tiempo Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRecursos" aria-expanded="true" aria-controls="collapseRecursos">
          <i class="fas fa-fw fa-id-card"></i>
          <span>Gesti&oacute;n de recursos</span>
        </a>
        <div id="collapseRecursos" class="collapse" aria-labelledby="menuRecursos" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Ver:</h6>
            <a class="collapse-item" th:href="@{/listarRecursos}">Mis recursos</a>
            <a class="collapse-item" href="#">Mi perfil</a>
          </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->
    
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <header th:replace="layout/layout :: header"></header>
        
        <!-- Begin Page Content -->
        <div class="container-fluid">

 		  <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-2 text-gray-800">Mis preventas o proyectos</h1>
            <a type="button" class="btn btn-primary" th:href="@{/preventaProyectoAlta}" >
              <i class="fas fa-plus fa-sm text-white-50"></i> Nueva preventa/proyecto
            </a>
          </div>
          
          <p class="mb-4">Encuentra aqu&iacute; el listado de todos tus proyectos registrados en <b>Sophitech</b>, podr&aacute;s registrar una nueva preventa y gestionar los datos existentes.</p>

<!--           <div class="row"> -->
<!--           	<div class="col-sm-4"> -->
<!--           		<label for="cliente">Cliente</label> -->
<!--                 <select class="form-control" id="cliente"> -->
<!--                 	<option value="-1">Todos</option> -->
<!--        		        <option th:each="cliente : ${clientes}" th:value="${cliente.codCliente}" th:text="${cliente.descCliente}" th:selected="false"/> -->
<!--             	</select> -->
<!--           	</div> -->
<!--           	<div class="col-sm-4"></div> -->
<!--           	<div class="col-sm-4"></div> -->
<!--           </div> -->
          
           <!-- Filter -->
           <div class="row">
               <div class="input-group col-sm-4">
                   <div class="input-group mb-4">
                       <div class="input-group-prepend">
                           <label class="input-group-text" for="filterCliente">Selecciona un cliente</label>
                       </div>
                       <select name="cliente" class="custom-select" id="filterCliente">
                           <option selected value="-1">Todos</option>
                           <option th:each="cliente:${clientes}" th:value="${cliente.codCliente}" th:text="${cliente.descCliente}"></option>
                       </select>
                   </div>
               </div>
           </div>
          
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
<!--             <div class="card-header py-3"> -->
<!--               <h6 class="m-0 font-weight-bold text-primary">Proyectos</h6> -->
<!--             </div> -->
            <div class="card-body" id="contenidoTabla">
              <div class="table-responsive">
                <table class="table" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Código de proyecto</th>
                      <th>Proyecto</th>
                      <th>Fecha de inicio</th>
                      <th>Preventa o proyecto</th>
                      <th>Presupuesto</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <th:block th:each="proyecto : ${proyectos}">
                    <tr th:if="${proyecto.proyectoId.codEstatusProyecto == 2}">
                      <td th:text="${proyecto.descCodigoProyecto}"></td>
                      <td th:text="${proyecto.descProyecto}"></td>
                      <td th:text="${proyecto.fecIncioProyecto}"></td>
                      <td>Proyecto</td>
                      <td th:text="${proyecto.impPresupuesto}"></td>
                      <td><a th:href="@{/preventaProyectoConsulta/}+${proyecto.proyectoId.codProyecto}+'/'+${proyecto.proyectoId.codEstatusProyecto}+'/'+${proyecto.proyectoId.codCliente}">Ver detalle</a></td>
                    </tr>
                    <tr th:unless="${proyecto.proyectoId.codEstatusProyecto == 2}">
                      <td th:text="${proyecto.descCodigoProyecto}"></td>
                      <td th:text="${proyecto.descProyecto}"></td>
                      <td>N/A</td>
                      <td>Preventa</td>
                      <td th:text="${proyecto.impPresupuesto}"></td>
                      <td><a th:href="@{/preventaProyectoConsulta/}+${proyecto.proyectoId.codProyecto}+'/'+${proyecto.proyectoId.codEstatusProyecto}+'/'+${proyecto.proyectoId.codCliente}">Ver detalle</a></td>
                    </tr>
                    </th:block>
                  </tbody>
                </table>
              </div>
            </div>
          </div>



        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Sophitech S.A. de C.V.</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="js/demo/chart-area-demo.js"></script>
  <script src="js/demo/chart-pie-demo.js"></script>
  <script src="js/preventaProyectoListaTodo.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
  
   <!-- Page level plugins -->
  <script src="vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="js/demo/datatables-demo.js"></script>

</body>

</html>
