<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Resultados de evaluaci&oacute;n de desempe&ntilde;o</title>
	
	<!-- Custom styles for this template-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- 	<link th:href="@{/css/sb-admin-2.css}" rel="stylesheet"> -->
	<link th:href="@{/css/style.css}" rel="stylesheet">
	
</head>
<body>
	<div class="container">
		<h4 style="color: #c02c57;">Miguel Angel Tellez Garcia</h4>
		<h6>Evaluacion 2021-Q1</h6>
		<div class="row">
			<div class="col-6">
				<div class="text-center">
					<img  style="margin-top: 100px; width: 25%;"  th:src="@{'/fotoRecursoPerfil/8'}" class="img-profile imgPrevCircleRecurso mx-auto mb-3">
				</div>
			</div>
			<div class="col-6">
				<div class="text-center">
					<img src="img/logo-regular.png" alt="">
				</div>
				<br>
				<hr style="border-top: 3px solid #bbb;">
				<h5 style="color: #c02c57;">Perfil</h5>
				<h6>Perfil</h6>
				<hr style="border-top: 3px solid #bbb;">
				<h5 style="color: #c02c57;">Periodo de evaluaci&oacute;n</h5>
				<h6>2021, ENERO</h6>
				<h6>2021, MARZO</h6>
				<hr style="border-top: 3px solid #bbb;">
				<h5 style="color: #c02c57;">Metas</h5>
				<table class="table">
					<thead>
						<tr>
							<th>Objetivos</th>
							<th>%</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Billability</td>
							<td>2%</td>
						</tr>
						<tr>
							<td>Productividad</td>
							<td>80%</td>
						</tr>
						<tr>
							<td>Capacitación</td>
							<td>18%</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
		<h5 style="color: #c02c57;">ANEXO - C&aacute;talogo de competencias</h5>
			<table class="table">
				<tr>
					<td>Adaptación al cambio - Adopta cambios de manera oportuna y en lo pertinente, realiza los ajustes a las nuevas tendencias</td>
				</tr>
			</table>
		</div>
		<hr style="border-top: 3px solid #bbb;">
		<div class="row">
		<h5 style="color: #c02c57;">RESULTADOS</h5>
			<table class="table">
				<tr>
					<td align="center"><span style="color:red;">0% - 60%</span><br><small>No cumple con las expectativas</small></td>
					<td align="center"><span style="color:orange;">60.01% - 75.00% </span><br><small>Medianamente cumple con las expectativas</small></td>
					<td align="center"><span style="color:yellow;">75.01% - 90.00%</span><br><small>Cumple con las expectativas</small></td>
					<td align="center"><span style="color:green;">90.01% - 100.00%</span><br><small>Sobrepasa las expectativas</small></td>
				</tr>
			</table>
			
			<table class="table">
				<tr>
					<td align="center"><span>RESULTADO SOPHITECH</span><br><small>73.9%</small></td>
					<td align="center"><span>RESULTADO INDIVIDUAL</span><br><small>88.6%</small></td>
					<td align="center"><span>RESULTADO EVALUACI&Oacute;N</span><br><small>82.1%</small></td>
				</tr>
			</table>
		</div>
				<div class="row">
		<h5 style="color: #c02c57;">RESULTADOS A NIVEL META</h5>
			<table class="table">
				<tr>
					<th>META</th>
					<th style="text-align: center;">EVALUACION SOPHITECH</th>
				</tr>
				<tr>
					<td>Captura de horas</td>
					<td align="center">1.8%</td>
				</tr>
				<tr>
				<td>TOTAL:</td>
				<td align="center">1.8%</td>
				</tr>
			</table>
			
		</div>
						<div class="row">
		<h5 style="color: #c02c57;">RESULTADOS A NIVEL COMPETENCIA</h5>
			<table class="table">
				<tr>
					<th>META</th>
					<th style="text-align: center;">EVALUACION SOPHITECH</th>
					<th style="text-align: center;">EVALUACION COLABORADOR</th>
				</tr>
				<tr>
					<td>Adaptacion al cambio</td>
					<td align="center">83.0%</td>
					<td align="center">90.0%</td>
				</tr>
				<tr>
				<td>TOTAL:</td>
				<td align="center">83.0%</td>
				<td align="center">86.7%</td>
				</tr>
			</table>
			
		</div>


	</div>


</body>
</html>