<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/layout::head"></head>

<body id="page-top">
	<input id="authGetName" type="hidden" th:value="${#authentication.getName()}"></input>
	
	<!-- Page Wrapper -->
	<div id="wrapper">

	    <!-- Sidebar -->
	    <ul th:replace="layout/layout::menu"> </ul>
	    <!-- End of Sidebar -->

    	<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">
				
				<header th:replace="layout/layout :: header"></header>
         
					<!-- Begin Page Content -->
					<div class="container-fluid">

						<!-- Page Heading -->
						<h1 class="h3 mb-2 text-gray-800">Informaci&oacute;n del recurso</h1>
						<a sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_RH')" th:href="@{'/listarRecursos'}" th:text="'&laquo; regresar al listado de recursos'"></a>
			
						<div class="card shadow mb-4">
							<div class="collapse show">
								<div class="card-body">
									<div class="row">
									
					                    <div class="col-md-3">
					                        <div class="profile-img">
					                            <img th:if="${recurso.foto} != null" th:src="@{'/fotoRecursoPerfil/' + ${recurso.codRecurso}}" class="imgPrevRecurso mx-auto mb-3" alt="${recurso.descRecurso}"/>
					                            <div class="file btn btn-lg btn-primary">
					                                Cambiar foto
					                                <input type="file" name="file"/>
					                            </div>
					                        </div>
					                        <div class="profile-work" style="color: #495057; font-size: 12px; font-weight: 600">
					                            <p style="font-size: 12px; font-weight: 700">Informaci&oacute;n</p>
					                            
					                            <i class="fa fa-user mr-2"></i><span th:text="${recurso.descRecurso} + ' ' + ${recurso.descApellidoPaterno} + ' ' + ${recurso.descApellidoMaterno}" class="mb-1" ></span><br>
					                            <i class="fas fa-id-badge mr-2"></i><span class="mb-1">[[${recurso.puesto.descPuesto}]]</span><br>
					                            <i class="fa fa-envelope mr-2"></i><span class="mb-1">[[${recurso.descCorreoElectronico}]]</span><br>
					                            <i class="fa fa-envelope mr-2"></i><span class="mb-1">[[${recurso.descCorreoElectronico}]]</span><br>
					                            <i class="fa fa-phone mr-2"></i><span class="mb-1">[[${recurso.descTelCelular}]]</span>
					                            
                        				</div>
					                    </div>
					                    
										<div class="col-md-9">
                        					<div class="profile-head">
                                    			<div class="d-flex justify-content-between">
                                    				<h5 th:text="${recurso.descRecurso} + ' ' + ${recurso.descApellidoPaterno} + ' ' + ${recurso.descApellidoMaterno}"> </h5>
                                    				<input type="button" class="profile-edit-btn"  value="Editar"/>
                                    			</div>
                                    			<h6 style="font-size: 12px;" th:text="${recurso.puesto.descPuesto}"></h6>
                                    			<p class="proile-rating">Evaluaci&oacute;n Q: <span>8/10</span></p>
                            					
                            					<ul class="nav nav-tabs" id="myTab" role="tablist">
                            					
					                                <li class="nav-item">
					                                    <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Datos Generales</a>
					                                </li>
					                                <li class="nav-item">
					                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Trayectoria</a>
					                                </li>
					                                <li class="nav-item">
					                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Expediente digital</a>
					                                </li>
                                
                            					</ul>
                        					</div>
                    					</div>
                					</div>
			
								</div>
							</div>
						</div>	
			
                
				
				

					</div>
			        <!-- /.container-fluid -->

				</div>
				<!-- End of Main Content -->

				<!-- Footer -->
				<footer th:replace="layout/layout :: footer"></footer>
				<!-- End of Footer -->
		
		
		    </div>
			<!-- End of Content Wrapper -->

		</div>
		<!-- End of Page Wrapper -->

  <!-- Scroll to Top Button--> <div class="st-actionContainer right-bottom" id="btnFlash"> <div class="st-btn-container right-bottom" onclick="flashSurvey(); return false;"> <div class="st-button-main"><i class="fa fa-bolt" aria-hidden="true"></i></div> </div> </div>
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

	 <!-- ModalLogout -->
      <footer th:replace="layout/layout :: modalLogout"></footer>
      <!-- End ModalLogout -->

  <!-- Bootstrap core JavaScript-->
  <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  <!-- Core plugin JavaScript-->
  <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

  <!-- Custom scripts for all pages-->
  <script th:src="@{/js/sb-admin-2.min.js}"></script>

  <!-- Page level plugins -->
  <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
  <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

  <!-- Page level custom scripts -->
  <script th:src="@{/js/demo/datatables-demo.js}"></script>
  
  <script th:src="@{/js/datosRecursoSesion.js}"></script>

</body>

</html>
