<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/layout::head"></head>

<body id="page-top">
<input id="authGetName" type="hidden" th:value="${#authentication.getName()}"></input>
  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/}">
        <div class="sidebar-brand-icon">
          <!--<i class="fas fa-laugh-wink"></i>  rotate-n-15-->
          <img th:src="@{/img/logo-img.png}" alt="">
        </div> 
        <div class="sidebar-brand-text mx-3"><img th:src="@{/img/logo-texto.png}"alt=""></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" th:href="@{/}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Mi dashboard</span></a>
      </li>
      
      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading Proyecto -->
      <div class="sidebar-heading">
        Clientes
      </div>

      <!-- Nav Item - Gastos y tiempo Collapse Menu -->
      <li class="nav-item ">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseClientes" aria-expanded="true" aria-controls="collapseClientes">
          <i class="fas fa-fw fa-address-book"></i>
          <span>Gesti&oacute;n de clientes</span>
        </a>
        <div id="collapseClientes" class="collapse" aria-labelledby="menuClientes" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Ver:</h6>
            <a class="collapse-item" th:href="@{/listaClientes}">Mis clientes</a>
            <a class="collapse-item" th:href="@{/agenda}">Mis contactos</a>
          </div>
        </div>
      </li>
      

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading Proyecto -->
      <div class="sidebar-heading">
        Proyectos
      </div>
      
      
	  <!-- Nav Item - Actividades Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProyectos" aria-expanded="true" aria-controls="collapseProyectos">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Gesti&oacute;n de proyectos</span>
        </a>
        <div id="collapseProyectos" class="collapse" aria-labelledby="menuProyectos" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Ver:</h6>
            <a class="collapse-item"  th:href="@{/listaProyectosTodo}">Mis proyectos</a>
            <a class="collapse-item" th:href="@{/misActividades/} + ${#authentication.getName()}">Mis actividades</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Gastos y tiempo Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseGastosTiempo" aria-expanded="true" aria-controls="collapseGastosTiempo">
          <i class="fas fa-fw fa-calendar-alt"></i>
          <span>Gastos y tiempo</span>
        </a>
        <div id="collapseGastosTiempo" class="collapse" aria-labelledby="menuGastosTiempo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Ver:</h6>
            <a class="collapse-item" th:href="@{/capHoras/} + ${#authentication.getName()}">Mi captura de horas</a>
            <a class="collapse-item" th:href="@{/aprobacionhoras/}+${#authentication.getName()}">Aprobaci&oacute;n de horas</a>
            <a class="collapse-item" th:href="@{/misGastos/} + ${#authentication.getName()}">Mi captura de gastos</a>
            <a class="collapse-item" th:href="@{/aprobaciongastos/}+ ${#authentication.getName()}">Aprobaci&oacute;n de gastos</a>
          </div>
        </div>
      </li>

 
      
       <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading Proyecto -->
      <div class="sidebar-heading">
        Recursos
      </div>

      <!-- Nav Item - Gastos y tiempo Collapse Menu -->
      <li class="nav-item active">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRecursos" aria-expanded="true" aria-controls="collapseRecursos">
          <i class="fas fa-fw fa-id-card"></i>
          <span>Gesti&oacute;n de recursos</span>
        </a>
        <div id="collapseRecursos" class="collapse" aria-labelledby="menuRecursos" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Ver:</h6>
            <a class="collapse-item active" th:href="@{/listarRecursos}">Mis recursos</a>
          </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

         <header th:replace="layout/layout :: header"></header>
         
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Informaci&oacute;n del recurso</h1>
          <p class="mb-4">Secci&oacute;n para consultar los datos del recurso.</p>
          <a th:href="@{'/listarRecursos'}" th:text="'&laquo; volver'"></a>
			
			<div class="card shadow mb-4">
			<div class="collapse show" id="collapseCardExample">
			<div class="card-body">
				<div class="row">
			      <div class="col-md-6">
			         <ul class="list-group list-group-flush">
						<li class="list-group-item"><h3 th:text="${recurso.descRecurso} + ' ' + ${recurso.descApellidoPaterno} + ' ' + ${recurso.descApellidoMaterno}"></h3></li>
						<li class="list-group-item">E-mail: <strong th:text="${recurso.descCorreoElectronico}"></strong></li>
						<li class="list-group-item">Tel&eacute;fono Celular: <strong th:text="${recurso.descTelCelular}"></strong></li>
						<li class="list-group-item">Tel&eacute;fono Empresa: <strong th:text="${recurso.descTelEmpresa}"></strong></li>
						<li class="list-group-item">Extensi&oacute;n: <strong th:text="${recurso.descTelExt}"></strong></li>
						<li class="list-group-item">R.F.C: <strong th:text="${recurso.descRfc}"></strong></li>
						<li class="list-group-item">C.U.R.P: <strong th:text="${recurso.descCurp}"></strong></li>
						<li class="list-group-item">Fecha de Nacimiento: <strong th:text="${recurso.fecNacimiento}"></strong></li>
						<li class="list-group-item">Direcci&oacute;n: <strong th:text="${recurso.dirCalle}+ ' ' + ${recurso.dirNumeroExt} + ' ' + ${recurso.dirNumeroInt}+ ' ' + ${recurso.dirColonia}+ ' ' + ${recurso.dirAlcaldiaMunicipio}+ ' ' + ${recurso.dirEstado}+ ' ' + ${recurso.dirCp}"></strong></li>
						<li class="list-group-item">N&uacute;mero de Seguridad Social: <strong th:text="${recurso.descNss}"></strong></li>
						<li class="list-group-item">Estado Civil: <strong th:text="${recurso.descEstadoCivil}"></strong></li>
						<li class="list-group-item">No. de Hijos: <strong th:text="${recurso.valNumeroHijos}"></strong></li>
					</ul>
      			  </div>
		          <div class="col-md-6" style="display: flex; align-items: center;">
		            <img th:if="${recurso.foto} != null" class="img-thumbnail rounded" th:src="@{'/fotoRecursoPerfil/' + ${recurso.codRecurso}}" alt="${recurso.descRecurso}" width="70%">
		          </div>
 				</div>
			</div>
			</div>
		</div>
		
              <div class="card shadow mb-4">
                <!-- Card Header - Accordion -->
                <a href="#collapseCard1" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample">
                  <h6 class="m-0 font-weight-bold text-primary">Informaci&oacute;n del recurso</h6>
                </a>
                <!-- Card Content - Collapse -->
                <div class="collapse show" id="collapseCard1">
                  <div class="card-body">
                    <div class="row">
			      <div class="col-md-6">
			         <ul class="list-group list-group-flush">
						<li class="list-group-item">Fecha de ingreso a la empresa: <strong th:text="${recurso.fecIngresoEmpresa}"></strong></li>
						<li class="list-group-item">Activo/Inactivo: <strong th:text="${recurso.descActivo}"></strong></li>
						<li class="list-group-item">Fecha de salida de la empresa: <strong th:text="${recurso.fecSalidaEmpresa}"></strong></li>
						<li class="list-group-item">Motivo de salida de la empresa: <strong th:text="${recurso.descMotivoSalida}"></strong></li>
						<li class="list-group-item">Puesto: <strong th:text="${recurso.puesto.descPuesto}"></strong></li>
						<li class="list-group-item">Jornada: <strong th:text="${recurso.jornada.descJornada}"></strong></li>
						<li class="list-group-item">Tipo de recurso: <strong th:text="${recurso.tiporecurso.descTipoRecurso}"></strong></li>
						<li class="list-group-item">Proveedor: <strong th:text="${recurso.proveedor.descProveedor}"></strong></li>
						<li class="list-group-item">Costo m&iacute;nimo: <strong th:text="${recurso.valCostoMinimo}"></strong></li>
					</ul>
      			  </div>
 				</div>
                  </div>
                </div>
              </div>
              
              <div class="card shadow mb-4">
                <!-- Card Header - Accordion -->
                <a href="#collapseCardEscolaridad" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample">
                  <h6 class="m-0 font-weight-bold text-primary">Escolaridad</h6>
                </a>
                <!-- Card Content - Collapse -->
                <div class="collapse show" id="collapseCardEscolaridad">
                  <div class="card-body">
                    <div class="row">
			      <div class="col-md-6">
			         <ul class="list-group list-group-flush">
						<li class="list-group-item">Grado de Escolaridad: <strong th:text="${recurso.descEduGradoEscolaridad}"></strong></li>
						<li class="list-group-item">Etapa: <strong th:text="${recurso.descEduEtapa}"></strong></li>
						<li class="list-group-item">Instituci&oacute;n acad&eacute;mica: <strong th:text="${recurso.descEduInstitucionAcademica}"></strong></li>
						<li class="list-group-item">Documento obtenido: <strong th:text="${recurso.descEduDocumentoObtenido}"></strong></li>
					</ul>
      			  </div>
 				</div>
                  </div>
                </div>
              </div>
              
              <div class="card shadow mb-4">
                <!-- Card Header - Accordion -->
                <a href="#collapseCardBanco" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample">
                 <h6 class="m-0 font-weight-bold text-primary">Informaci&oacute;n bancaria</h6>
                </a>
                <!-- Card Content - Collapse -->
                <div class="collapse show" id="collapseCardBanco">
                  <div class="card-body">
                    <div class="row">
			      <div class="col-md-6">
			         <ul class="list-group list-group-flush">
						<li class="list-group-item">Banco: <strong th:text="${recurso.descBancoNombre}"></strong></li>
						<li class="list-group-item">Cuenta: <strong th:text="${recurso.descBancoNumeroCuenta}"></strong></li>
						<li class="list-group-item">CLABE Interbancaria: <strong th:text="${recurso.descBancoClabe}"></strong></li>
					</ul>
      			  </div>
 				</div>
                  </div>
                </div>
              </div>
              
              <div class="card shadow mb-4">
                <!-- Card Header - Accordion -->
                <a href="#collapseCardMedico" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample">
                  <h6 class="m-0 font-weight-bold text-primary">Informaci&oacute;n m&eacute;dica</h6>
                </a>
                <!-- Card Content - Collapse -->
                <div class="collapse show" id="collapseCardMedico">
                  <div class="card-body">
                    <div class="row">
			      <div class="col-md-6">
			         <ul class="list-group list-group-flush">
						<li class="list-group-item">Tipo de sangre: <strong th:text="${recurso.descMedicosTipoSangre}"></strong></li>
						<li class="list-group-item">Alergias: <strong th:text="${recurso.descMedicosAlergias}"></strong></li>
						<li class="list-group-item">Embarazos: <strong th:text="${recurso.descMedicosEmbarazos}"></strong></li>
						<li class="list-group-item">Cirug&iacute;as: <strong th:text="${recurso.descMedicosCirugias}"></strong></li>
						<li class="list-group-item">Enfermedades: <strong th:text="${recurso.descMedicosEnfermedades}"></strong></li>
					</ul>
      			  </div>
 				</div>
                  </div>
                </div>
              </div>
<!-- 			
					
					<!-- Card Header - Accordion -->
					<a href="#collapseCardExtraComplementaria" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExtraComplementaria">
						<h6 class="m-0 font-weight-bold text-primary">Extra</h6>
					</a>
					<!-- Card Content - Collapse -->
					<div class="collapse show" id="collapseCardExtraComplementaria">
						<div class="card-body">

							<table class="table-responsive">
							<tr>
							<td>
							<div class="card" style="width: 100%;">
							  <img th:src="@{/img/img-contacto-emergencia.png}" class="card-img-top" alt="Contactos de emergencia">
							  <div class="card-body">
							    <h5 class="card-title">Contactos de emergencia</h5>
							    <p class="card-text">Informacion que describe este apartado.</p>
							    <a th:href="@{/listarContactosEmergencia/} +  ${recurso.codRecurso}" class="btn btn-primary stretched-link">Ver</a>
							  </div>
							</div>
							</td>
							<td>
							<div class="card" style="width: 100%;">
							  <img th:src="@{/img/img-herramienta.png}" class="card-img-top" alt="Contactos de emergencia">
							  <div class="card-body">
							    <h5 class="card-title">Herramientas</h5>
							     <p class="card-text">Informacion que describe este apartado.</p>
							    <a th:href="@{/listarHerramientas/} +  ${recurso.codRecurso}" class="btn btn-primary stretched-link">Ver</a>
<!-- 							    <table> -->
<!-- 							    <tr th:each="herramienta : ${recurso.herramientas}"> -->
<!-- 							    <td th:text="${herramienta.descHerramienta}"></td> -->
<!-- 							    <td th:text="${herramienta.descNumeroSerie}"></td> -->
<!-- 							    <td th:text="${herramienta.codHerramienta}"></td> -->
<!-- 							    </tr> -->
<!-- 							    </table> -->
							  </div>
							</div>
							</td>
							<td>
							<div class="card" style="width: 100%;">
							  <img th:src="@{/img/img-sueldo-prestacion.png}" class="card-img-top" alt="Contactos de emergencia">
							  <div class="card-body">
							    <h5 class="card-title">Sueldos y prestaciones</h5>
							     <p class="card-text">Informacion que describe este apartado.</p>
							    <a th:href="@{/listarSueldos/} +  ${recurso.codRecurso}" class="btn btn-primary stretched-link">Ver</a>
							  </div>
							</div>
							</td>
							<td>
							<div class="card" style="width: 100%;">
							  <img th:src="@{/img/img-dependientes-economicos.png}" class="card-img-top" alt="Contactos de emergencia">
							  <div class="card-body">
							    <h5 class="card-title">Dependientes econ&oacute;micos</h5>
							     <p class="card-text">Informacion que describe este apartado.</p>
							    <a th:href="@{/listarDependientes/} +  ${recurso.codRecurso}" class="btn btn-primary stretched-link">Ver</a>
							  </div>
							</div>
							</td>
							</tr>
							</table>

						</div>
					</div>
					
				
				

		</div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

       <!-- Footer -->
      <footer th:replace="layout/layout :: footer"></footer>
      <!-- End of Footer -->


    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

	 <!-- ModalLogout -->
      <footer th:replace="layout/layout :: modalLogout"></footer>
      <!-- End ModalLogout -->

  <!-- Bootstrap core JavaScript-->
  <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  <!-- Core plugin JavaScript-->
  <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

  <!-- Custom scripts for all pages-->
  <script th:src="@{/js/sb-admin-2.min.js}"></script>

  <!-- Page level plugins -->
  <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
  <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

  <!-- Page level custom scripts -->
  <script th:src="@{/js/demo/datatables-demo.js}"></script>
  
  <script th:src="@{/js/datosRecursoSesion.js}"></script>

</body>

</html>
