<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/layout::head"></head>

<body id="page-top">
	<input id="authGetName" type="hidden" th:value="${#authentication.getName()}"></input>
	
	<!-- Page Wrapper -->
	<div id="wrapper">

	    <!-- Sidebar -->
	    <ul th:replace="layout/layout::menu"> </ul>
	    <!-- End of Sidebar -->

    	<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">
				
				<header th:replace="layout/layout :: header"></header>
         
					<!-- Begin Page Content -->
					<div class="container-fluid">

						<!-- Page Heading -->
						<h1 class="h3 mb-2 text-gray-800">Informaci&oacute;n del recurso</h1>
						<a sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_RH')" th:href="@{'/listarRecursos'}" th:text="'&laquo; regresar al listado de recursos'"></a>
			
						<div class="card shadow mb-4">
							<div class="collapse show">
								<div class="card-body">
									<div class="row">
									
					                    <div class="col-md-3">
					                        <div class="profile-img">
					                            <img th:if="${recurso.foto} != null" th:src="@{'/fotoRecursoPerfil/' + ${recurso.codRecurso}}" class="imgPrevRecurso mx-auto mb-3" alt="${recurso.descRecurso}"/>
					                            <div class="file btn btn-lg btn-primary">
					                                Cambiar foto
					                                <input type="file" name="file"/>
					                            </div>
					                        </div>
					                        <div class="profile-work" style="color: #495057; font-size: 12px; font-weight: 600">
					                            <p style="font-size: 12px; font-weight: 700">Informaci&oacute;n</p>
					                            
					                            <i class="fa fa-user mr-2"></i><span th:text="${recurso.descRecurso} + ' ' + ${recurso.descApellidoPaterno}" class="mb-1" ></span><br>
					                            <i class="fas fa-id-badge mr-2"></i><span class="mb-1">[[${recurso.puesto.descPuesto}]]</span><br>
					                            <i class="fa fa-envelope mr-2"></i><span class="mb-1">[[${recurso.descCorreoElectronico}]]</span><br>
					                            <i class="fa fa-envelope mr-2"></i><span class="mb-1">[[${recurso.descCorreoPersonal}]]</span><br>
					                            <i class="fa fa-phone mr-2"></i><span class="mb-1">[[${recurso.descTelCelular}]]</span>
					                            
                        				</div>
					                    </div>
					                    
										<div class="col-md-9">
                        					<div class="profile-head">
                                    			<div class="d-flex justify-content-between">
                                    				<h5 th:text="${recurso.descRecurso} + ' ' + ${recurso.descApellidoPaterno} + ' ' + ${recurso.descApellidoMaterno}"> </h5>
                                    				<div id="divBtnEditar"><input id="iEditar" type="button" class="profile-edit-btn" onclick="functionEditar();" value="Editar"/></div>
                                    				<div id="divBtnGuardar"><input id="iGuardar" type="button" class="profile-edit-btn" onclick="functionGuardar();" value="Guardar"/></div>
                                    			</div>
                                    			<h6 style="font-size: 12px;" th:text="${recurso.puesto.descPuesto}"></h6>
                                    			<p class="proile-rating">Evaluaci&oacute;n Q: <span>8/10</span></p>
                            					
                            					<ul class="nav nav-tabs" id="myTab" style="padding: 0px; margin: 0px;" role="tablist">
                            					
					                                <li class="nav-item">
					                                    <a class="nav-link active" id="datos-generales-tab" data-toggle="tab" href="#datos-generales" aria-controls="datos-generales" role="tab" aria-selected="true">Datos generales</a>
					                                </li>
					                                <li class="nav-item">
					                                    <a class="nav-link" id="datos-empresa-tab" data-toggle="tab" href="#datos-empresa" role="tab" aria-controls="datos-empresa" aria-selected="false">Datos empresa</a>
					                                </li>
					                                <li class="nav-item">
					                                    <a class="nav-link" id="trayectoria-tab" data-toggle="tab" href="#trayectoria" role="tab" aria-controls="trayectoria" aria-selected="true">Trayectoria</a>
					                                </li>
                                					<li class="nav-item">
					                                    <a class="nav-link" id="expediente-digital-tab" data-toggle="tab" href="#expediente-digital" role="tab" aria-controls="expediente-digital" aria-selected="true">Expediente digital</a>
					                                </li>
					                                
                            					</ul>
                        					</div>
                        					
                        					
											<div class="tab-content profile-tab" id="myTabContent">
												
												<div class="tab-pane fade show active" id="datos-generales" role="tabpanel" aria-labelledby="datos-generales-tab">
												<br>
												<fieldset class="border p-2">
	   												<legend  class="w-auto dg-campo" >&nbsp;GENERALES&nbsp;</legend>
	   												<div class="row">
														<div class="col-xl-3 col-sm-4 col-md-4 col-lg-3 form-group"> 
															<span class="dg-campo">Nombre: </span>
															<input class="form-control dg-info"  type="text" placeholder="Sin informaci&oacute;n" th:field="*{recurso.descRecurso}" disabled="disabled"/>
														</div>
														<div class="col-xl-2 col-sm-4 col-md-4 col-lg-3 form-group"> 
														 	<span class="dg-campo">Ap. Materno: </span>
														 	<input class="form-control dg-info"  type="text" placeholder="Sin informaci&oacute;n" th:field="${recurso.descApellidoPaterno}" disabled="disabled"/>
														 </div>
														 <div class="col-xl-2 col-sm-4 col-md-4 col-lg-3 form-group"> 
															<span class="dg-campo">Ap. Paterno: </span>
															<input class="form-control dg-info"  type="text" placeholder="Sin informaci&oacute;n" th:field="${recurso.descApellidoMaterno}" disabled="disabled"/>
														</div>
														<div class="col-xl-2 col-sm-4 col-md-4 col-lg-3 form-group">
															<span class="dg-campo">Tel: </span>
															<input class="form-control dg-info"  type="text" placeholder="Sin informaci&oacute;n" th:field="${recurso.descTelCelular}" disabled="disabled"/>
														</div>
														<div class="col-xl-3 col-sm-4 col-md-4 col-lg-3 form-group">
															<span class="dg-campo">Correo personal: </span>
															<input class="form-control dg-info"  type="text" placeholder="Sin informaci&oacute;n" th:field="${recurso.descCorreoPersonal}" disabled="disabled"/>
														</div>
														<div class="col-xl-3 col-sm-4 col-md-4 col-lg-3 form-group"> 
															<span class="dg-campo">Nacimiento: </span>
															<input class="form-control dg-info"  type="date" placeholder="Sin informaci&oacute;n" th:field="${recurso.fecNacimiento}" disabled="disabled"/>
														</div>
														<div class="col-xl-1 col-sm-4 col-md-4 col-lg-3 form-group"> 
														 	<span class="dg-campo">Genero: </span>
														 	<select class="form-control dg-info" style="padding: 0;" onchange="hideByGenero(this.value);" th:field="*{recurso.descGenero}">
																<option th:value="'M'" th:text="M"></option>
																<option th:value="'F'" th:text="F"></option>
															</select> 
														 </div>
														 <div class="col-xl-3 col-sm-4 col-md-4 col-lg-3 form-group"> 
															<span class="dg-campo">RFC: </span>
															<input class="form-control dg-info"  type="text" placeholder="Sin informaci&oacute;n" th:field="${recurso.descRfc}" disabled="disabled"/>
														</div>
														<div class="col-xl-3 col-sm-4 col-md-4 col-lg-3 form-group">
															<span class="dg-campo">CURP: </span>
															<input class="form-control dg-info"  type="text" placeholder="Sin informaci&oacute;n" th:field="${recurso.descCurp}" disabled="disabled"/>
														</div>
														<div class="col-xl-2 col-sm-4 col-md-4 col-lg-3 form-group">
															<span class="dg-campo">NSS: </span>
															<input class="form-control dg-info"  type="text" placeholder="Sin informaci&oacute;n" th:field="${recurso.descNss}" disabled="disabled"/>
														</div>
													
														<div class="col-xl-3 col-sm-4 col-md-4 col-lg-3 form-group"> 
															<span class="dg-campo">Estado civil: </span>
															<input class="form-control dg-info"  type="text" placeholder="Sin informaci&oacute;n" th:field="${recurso.EstadoCivil.descEstadoCivil}" disabled="disabled"/>
														</div>
														<div class="col-xl-2 col-sm-4 col-md-4 col-lg-3 form-group"> 
														 	<span class="dg-campo">No. hijos: </span>
														 	<input class="form-control dg-info"  type="number" max="10" min="0" step="1" placeholder="Sin informaci&oacute;n" th:field="${recurso.valNumeroHijos}" disabled="disabled"/>
														 </div>
													</div>
												</fieldset>
												
												<fieldset class="border p-2">
	   												<legend  class="w-auto dg-campo">&nbsp;DIRECCI&Oacute;N&nbsp;</legend>
	   												<div class="row">
	   													<div class="col-xl-3 col-sm-4 col-md-4 col-lg-3 form-group"> 
															<span class="dg-campo">Calle: </span>
															<input class="form-control dg-info"  type="text" placeholder="Sin informaci&oacute;n" th:field="${recurso.dirCalle}"/>
														</div>
														<div class="col-xl-3 col-sm-4 col-md-4 col-lg-3 form-group"> 
														 	<span class="dg-campo">No. ext: </span>
														 	<input class="form-control dg-info"  type="text" placeholder="Sin informaci&oacute;n" th:field="${recurso.dirNumeroExt}"/>
														 </div>
														 <div class="col-xl-2 col-sm-4 col-md-4 col-lg-3 form-group"> 
															<span class="dg-campo">No. int: </span>
															<input class="form-control dg-info"  type="text" placeholder="Sin informaci&oacute;n" th:field="${recurso.dirNumeroInt}"/>
														</div>
														
														<div class="col-xl-3 col-sm-4 col-md-4 col-lg-3 form-group"> 
															<span class="dg-campo">Colonia: </span>
															<input class="form-control dg-info"  type="text" placeholder="Sin informaci&oacute;n" th:field="${recurso.dirColonia}"/>
														</div>
														<div class="col-xl-3 col-sm-4 col-md-4 col-lg-3 form-group"> 
														 	<span class="dg-campo">Municipio: </span>
														 	<input class="form-control dg-info"  type="text" placeholder="Sin informaci&oacute;n" th:field="${recurso.dirAlcaldiaMunicipio}"/>
														 </div>
														 <div class="col-xl-3 col-sm-4 col-md-4 col-lg-3 form-group"> 
															<span class="dg-campo">Estado: </span>
															<input class="form-control dg-info"  type="text" placeholder="Sin informaci&oacute;n" th:field="${recurso.dirEstado}"/>
														</div>
														
														<div class="col-xl-2 col-sm-4 col-md-4 col-lg-3 form-group">
															<span class="dg-campo">CP: </span>
															<input class="form-control dg-info"  type="text" placeholder="Sin informaci&oacute;n" th:field="${recurso.dirCp}"/>
														</div>
													</div>
	   											</fieldset>
	   											
	   											<fieldset class="border p-2">
	   												<legend  class="w-auto dg-campo">&nbsp;BANCARIOS&nbsp;</legend>
	   												<div class="row">
	   													<div class="col-xl-3 col-sm-4 col-md-4 col-lg-3 form-group"> 
															<span class="dg-campo">Banco: </span>
															<input class="form-control dg-info"  type="text" placeholder="Sin informaci&oacute;n" th:field="${recurso.descBancoNombre}"/>
														</div>
														<div class="col-xl-3 col-sm-4 col-md-4 col-lg-3 form-group"> 
														 	<span class="dg-campo">Cuenta: </span>
														 	<input class="form-control dg-info"  type="text" placeholder="Sin informaci&oacute;n" th:field="${recurso.descBancoNumeroCuenta}"/>
														 </div>
														 <div class="col-xl-3 col-sm-4 col-md-4 col-lg-3 form-group"> 
															<span class="dg-campo">CLABE: </span>
															<input class="form-control dg-info"  type="text" placeholder="Sin informaci&oacute;n" th:field="${recurso.descBancoClabe}"/>
														</div>
													</div>
	   											</fieldset>
	   											
	   											<fieldset class="border p-2">
	   												<legend  class="w-auto dg-campo">&nbsp;SALUD&nbsp;</legend>
	   												<div class="row">
	   													<div class="col-xl-3 col-sm-4 col-md-4 col-lg-3 form-group"> 
															<span class="dg-campo">Tipo de Sangre: </span>
															<input class="form-control dg-info"  type="text" placeholder="Sin informaci&oacute;n" th:field="${recurso.descMedicosTipoSangre}"/>
														</div>
														<div class="col-xl-3 col-sm-4 col-md-4 col-lg-3 form-group"> 
														 	<span class="dg-campo">Alergias: </span>
														 	<input class="form-control dg-info"  type="text" placeholder="Sin informaci&oacute;n" th:field="${recurso.descMedicosAlergias}"/>
														</div>
														<div class="col-xl-3 col-sm-4 col-md-4 col-lg-3 form-group"> 
															<span class="dg-campo">Cirugias: </span>
															<input class="form-control dg-info"  type="text" placeholder="Sin informaci&oacute;n" th:field="${recurso.descMedicosCirugias}"/>
														</div>
														<div class="col-xl-3 col-sm-4 col-md-4 col-lg-3 form-group"> 
															<span class="dg-campo">Cirugias: </span>
															<input class="form-control dg-info"  type="text" placeholder="Sin informaci&oacute;n" th:field="${recurso.descMedicosEnfermedades}"/>
														</div>
														<div id="divEmbarazos" class="col-xl-2 col-sm-2 col-md-2 col-lg-2 form-group"> 
															<span class="dg-campo">Embarazos: </span>
															<select class="form-control dg-info" style="padding: 0;" th:field="${recurso.descMedicosEmbarazos}">
																<option th:value="'Si'" th:text="No"></option>
																<option th:value="'No'" th:text="Si"></option>
															</select> 
<!-- 															<input class="form-control dg-info"  type="text" placeholder="Sin informaci&oacute;n" th:field="${recurso.descMedicosEmbarazos}"/> -->
														</div>
													</div>
	   											</fieldset>
	   											
	   										<br>
												
													<div class="card border-secondary mb-3" style="font-size: 14px; font-weight: 700; max-width: 20rem;">
														<div class="card-header" style="color: #495057;">Contactos de emergencia</div>
														<div class="card-body text-secondary">
															<h5 class="card-title">Secondary card title</h5>
															<p class="card-text">Some quick example text to build
																on the card title and make up the bulk of the card's
																content.</p>
														</div>
													</div>



											</div>
                            					<div class="tab-pane fade show active" id="datos-empresa" role="tabpanel" aria-labelledby="datos-empresa-tab">
                            						<form id="idatosEmpresa" th:action="@{/guardarDatosEmpresaRecurso}" th:Object="${recurso}" method="post">
                                        			<table class="table table-borderless">
														<tr>
															<td><span class="dg-campo">E-mail empresa: </span><input type="text" placeholder="Sin informaci&oacute;n" class="form-control dg-info" th:field="${recurso.descCorreoElectronico}" disabled="disabled"/></td>
															<td><span class="dg-campo">Tel. empresa: </span><input type="text" placeholder="Sin informaci&oacute;n" class="form-control dg-info" th:field="${recurso.descTelEmpresa}" disabled="disabled"/></td>
															<td><span class="dg-campo">Ext.: </span><input type="text" placeholder="Sin informaci&oacute;n" class="form-control dg-info" th:field="${recurso.descTelExt}" disabled="disabled"/></td>
														</tr>
														<tr>
															<td><span class="dg-campo">Fec. Ingreso: </span><input type="date" class="form-control dg-info" th:field="${recurso.fecIngresoEmpresa}" disabled="disabled"/></td>
															<td><span class="dg-campo">&Aacute;rea: </span>
															<select th:field="${recurso.codAreaRecurso}" class="form-control dg-info" style="padding:0;" disabled="disabled">
																<option value="-1">Todos</option>
																<option th:each="areaRecursoLista : ${areaRecursoList}" th:value="${areaRecursoLista.codConsultor}" th:text="${areaRecursoLista.descConsultor}"></option>
															</select>
															</td>
															<td th:if="${recurso.valActivo == 1}"><span class="dg-campo">Activo: </span>
															<select th:field="${recurso.valActivo}" class="form-control dg-info" style="padding:0;" disabled="disabled">
						      									<option value="0">No</option>
						      									<option value="1">S&iacute;</option>
						   									</select>
						   									</td>
															<td th:if="${recurso.valActivo == 0}"><span class="dg-campo">Activo: </span>
															<select th:field="${recurso.valActivo}" class="form-control dg-info" style="padding:0;" disabled="disabled">
						      									<option value="0">No</option>
						      									<option value="1">S&iacute;</option>
						   									</select>
															</td>
															<td th:if="${recurso.valResponsable == 1}"><span class="dg-campo">Es responsable: </span>
															<select th:field="${recurso.valResponsable}" class="form-control dg-info" style="padding:0;" disabled="disabled">
						      									<option value="0">No</option>
						      									<option value="1">S&iacute;</option>
						   									</select>
															</td>
															<td th:if="${recurso.valResponsable == 0}"><span class="dg-campo">Es responsable: </span>
															<select th:field="${recurso.valResponsable}" class="form-control dg-info" style="padding:0;" disabled="disabled">
						      									<option value="0">No</option>
						      									<option value="1">S&iacute;</option>
						   									</select>
															</td>
															<td th:if="${recurso.valAprobador == 1}"><span class="dg-campo">Es aprobador: </span>
															<select th:field="${recurso.valAprobador}" class="form-control dg-info" style="padding:0;" disabled="disabled">
						      									<option value="0">No</option>
						      									<option value="1">S&iacute;</option>
						   									</select>
															</td>
															<td th:if="${recurso.valAprobador == 0}"><span class="dg-campo">Es aprobador: </span>
															<select th:field="${recurso.valAprobador}" class="form-control dg-info" style="padding:0;" disabled="disabled">
						      									<option value="0">No</option>
						      									<option value="1">S&iacute;</option>
						   									</select>
															</td>
														</tr>
														<tr th:if="${recurso.fecSalidaEmpresa != null && recurso.descMotivoSalida != null}">
															<td><span class="dg-campo">Fec. Salida: </span><input type="date" class="form-control dg-info" th:field="${recurso.fecSalidaEmpresa}" disabled="disabled"/></td>
															<td><span class="dg-campo">Motivo: </span><input type="text" placeholder="Sin informaci&oacute;n" class="form-control dg-info" th:field="${recurso.descMotivoSalida}" disabled="disabled"/></td>
														</tr>
														<tr>
															<td><span class="dg-campo">Puesto: </span>
															<select th:field="${recurso.codPuesto}" class="form-control dg-info" style="padding:0;" disabled="disabled">
																<option value="-1">Todos</option>
																<option th:each="puestoLista : ${puestoList}" th:value="${puestoLista.codPuesto}" th:text="${puestoLista.descPuesto}"></option>
															</select>
															</td>
															<td><span class="dg-campo">Jornada: </span>
															<select th:field="${recurso.codJornada}" class="form-control dg-info" style="padding:0;" disabled="disabled">
																<option value="-1">Todos</option>
																<option th:each="jornadaLista : ${jornadaList}" th:value="${jornadaLista.codJornada}" th:text="${jornadaLista.descJornada}"></option>
															</select>
															</td>
															<td><span class="dg-campo">Tipo recurso: </span>
															<select th:field="${recurso.codTipoRecurso}" class="form-control dg-info" style="padding:0;" disabled="disabled">
																<option value="-1">Todos</option>
																<option th:each="tipoRecursoLista : ${tipoRecursoList}" th:value="${tipoRecursoLista.codTipoRecurso}" th:text="${tipoRecursoLista.descTipoRecurso}"></option>
															</select>
															</td>
															<td><span class="dg-campo">Proveedor: </span>
															<select th:field="${recurso.codProveedor}" class="form-control dg-info" style="padding:0;" disabled="disabled">
																<option value="-1">Todos</option>
																<option th:each="proveedorLista : ${proveedorList}" th:value="${proveedorLista.codProveedor}" th:text="${proveedorLista.descProveedor}"></option>
															</select>
															</td>
															<td><span class="dg-campo">Costo m&iacute;nimo: </span><input type="number" step="0.10" class="form-control dg-info" th:field="${recurso.valCostoMinimo}" placeholder="$" disabled="disabled"/></td>
														</tr>
													</table>
													</form>
													<table>
														<tr>
															<td>
																<div class="card border-dark mb-3">
																  <div class="card-header"><h5>Herramientas</h5></div>
																	  <div class="card-body text-dark">
																	    	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
																				<ol class="carousel-indicators">
																				  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
																				  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
																				  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
																				</ol>
																				<div class="carousel-inner">
																				  <div class="carousel-item active">
																					<div class="card-deck">
																	    	<div class="row row-cols-1 row-cols-md-3 g-4">
																	    		<div class="col-sm-6">
																	    			<div class="card p-3 mb-3">
																				<div class="d-flex align-items-center">
																					<!-- <div class="image"> <img src="img/user1.jpg" class="rounded" width="155"> </div> -->
																					<div class=" w-100">
																						<h4 class="mb-0 mt-0">Laptop</h4> <span style="font-size: small;">DELL Inspiron</span>
																						<!-- <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
																							<div class="d-flex flex-column"> <span class="articles">Articles</span> <span class="number1">38</span> </div>
																							<div class="d-flex flex-column"> <span class="followers">Followers</span> <span class="number2">980</span> </div>
																							<div class="d-flex flex-column"> <span class="rating">Rating</span> <span class="number3">8.9</span> </div>
																						</div> -->
																						<div style="margin: 10px 0px;">
																							<span style="font-size: small;">S/N 2225411105246548</span><br>
																							<span style="font-size: small;">i7 / 250 SSD / 16 RAM</span>
																						</div>
																						<div class="button mt-2 d-flex flex-row align-items-center"> 
																							<button class="btn btn-sm btn-outline-primary w-100">Editar</button> 
																							<!-- <button class="btn btn-sm btn-primary w-100 ml-2">Editar</button>  -->
																						</div>
																					</div>
																				</div>
																			</div>
																	    		</div>
																	    		<div class="col-sm-6">
																	    			<div class="card p-3 mb-3">
																				<div class="d-flex align-items-center">
																					<!-- <div class="image"> <img src="img/user1.jpg" class="rounded" width="155"> </div> -->
																					<div class=" w-100">
																						<h4 class="mb-0 mt-0">Laptop</h4> <span style="font-size: small;">DELL Inspiron</span>
																						<!-- <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
																							<div class="d-flex flex-column"> <span class="articles">Articles</span> <span class="number1">38</span> </div>
																							<div class="d-flex flex-column"> <span class="followers">Followers</span> <span class="number2">980</span> </div>
																							<div class="d-flex flex-column"> <span class="rating">Rating</span> <span class="number3">8.9</span> </div>
																						</div> -->
																						<div style="margin: 10px 0px;">
																							<span style="font-size: small;">S/N 2225411105246548</span><br>
																							<span style="font-size: small;">i7 / 250 SSD / 16 RAM</span>
																						</div>
																						<div class="button mt-2 d-flex flex-row align-items-center"> 
																							<button class="btn btn-sm btn-outline-primary w-100">Editar</button> 
																							<!-- <button class="btn btn-sm btn-primary w-100 ml-2">Editar</button>  -->
																						</div>
																					</div>
																				</div>
																			</div>
																	    		</div>
																	    		<div class="col-sm-6">
																	    			<div class="card p-3 mb-3">
																				<div class="d-flex align-items-center">
																					<!-- <div class="image"> <img src="img/user1.jpg" class="rounded" width="155"> </div> -->
																					<div class=" w-100">
																						<h4 class="mb-0 mt-0">Laptop</h4> <span style="font-size: small;">DELL Inspiron</span>
																						<!-- <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
																							<div class="d-flex flex-column"> <span class="articles">Articles</span> <span class="number1">38</span> </div>
																							<div class="d-flex flex-column"> <span class="followers">Followers</span> <span class="number2">980</span> </div>
																							<div class="d-flex flex-column"> <span class="rating">Rating</span> <span class="number3">8.9</span> </div>
																						</div> -->
																						<div style="margin: 10px 0px;">
																							<span style="font-size: small;">S/N 2225411105246548</span><br>
																							<span style="font-size: small;">i7 / 250 SSD / 16 RAM</span>
																						</div>
																						<div class="button mt-2 d-flex flex-row align-items-center"> 
																							<button class="btn btn-sm btn-outline-primary w-100">Editar</button> 
																							<!-- <button class="btn btn-sm btn-primary w-100 ml-2">Editar</button>  -->
																						</div>
																					</div>
																				</div>
																			</div>
																	    		</div>
																	    	</div>
																	    	</div>
																				  </div>
																				  <div class="carousel-item">
																					<div class="card-deck">
																	    	<div class="row row-cols-1 row-cols-md-3 g-4">
																	    		<div class="col-sm-6">
																	    			<div class="card p-3 mb-3">
																				<div class="d-flex align-items-center">
																					<!-- <div class="image"> <img src="img/user1.jpg" class="rounded" width="155"> </div> -->
																					<div class=" w-100">
																						<h4 class="mb-0 mt-0">Laptop</h4> <span style="font-size: small;">HP</span>
																						<!-- <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
																							<div class="d-flex flex-column"> <span class="articles">Articles</span> <span class="number1">38</span> </div>
																							<div class="d-flex flex-column"> <span class="followers">Followers</span> <span class="number2">980</span> </div>
																							<div class="d-flex flex-column"> <span class="rating">Rating</span> <span class="number3">8.9</span> </div>
																						</div> -->
																						<div style="margin: 10px 0px;">
																							<span style="font-size: small;">S/N 2225411105246548</span><br>
																							<span style="font-size: small;">i7 / 250 SSD / 32 RAM</span>
																						</div>
																						<div class="button mt-2 d-flex flex-row align-items-center"> 
																							<button class="btn btn-sm btn-outline-primary w-100">Editar</button> 
																							<!-- <button class="btn btn-sm btn-primary w-100 ml-2">Editar</button>  -->
																						</div>
																					</div>
																				</div>
																			</div>
																	    		</div>
																	    		<div class="col-sm-6">
																	    			<div class="card p-3 mb-3">
																				<div class="d-flex align-items-center">
																					<!-- <div class="image"> <img src="img/user1.jpg" class="rounded" width="155"> </div> -->
																					<div class=" w-100">
																						<h4 class="mb-0 mt-0">Laptop</h4> <span style="font-size: small;">HP</span>
																						<!-- <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
																							<div class="d-flex flex-column"> <span class="articles">Articles</span> <span class="number1">38</span> </div>
																							<div class="d-flex flex-column"> <span class="followers">Followers</span> <span class="number2">980</span> </div>
																							<div class="d-flex flex-column"> <span class="rating">Rating</span> <span class="number3">8.9</span> </div>
																						</div> -->
																						<div style="margin: 10px 0px;">
																							<span style="font-size: small;">S/N 2225411105246548</span><br>
																							<span style="font-size: small;">i7 / 250 SSD / 32 RAM</span>
																						</div>
																						<div class="button mt-2 d-flex flex-row align-items-center"> 
																							<button class="btn btn-sm btn-outline-primary w-100">Editar</button> 
																							<!-- <button class="btn btn-sm btn-primary w-100 ml-2">Editar</button>  -->
																						</div>
																					</div>
																				</div>
																			</div>
																	    		</div>
																	    		<div class="col-sm-6">
																	    			<div class="card p-3 mb-3">
																				<div class="d-flex align-items-center">
																					<!-- <div class="image"> <img src="img/user1.jpg" class="rounded" width="155"> </div> -->
																					<div class=" w-100">
																						<h4 class="mb-0 mt-0">Laptop</h4> <span style="font-size: small;">HP</span>
																						<!-- <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
																							<div class="d-flex flex-column"> <span class="articles">Articles</span> <span class="number1">38</span> </div>
																							<div class="d-flex flex-column"> <span class="followers">Followers</span> <span class="number2">980</span> </div>
																							<div class="d-flex flex-column"> <span class="rating">Rating</span> <span class="number3">8.9</span> </div>
																						</div> -->
																						<div style="margin: 10px 0px;">
																							<span style="font-size: small;">S/N 2225411105246548</span><br>
																							<span style="font-size: small;">i7 / 250 SSD / 32 RAM</span>
																						</div>
																						<div class="button mt-2 d-flex flex-row align-items-center"> 
																							<button class="btn btn-sm btn-outline-primary w-100">Editar</button> 
																							<!-- <button class="btn btn-sm btn-primary w-100 ml-2">Editar</button>  -->
																						</div>
																					</div>
																				</div>
																			</div>
																	    		</div>
																	    	</div>
																	    	</div>
																				  </div>
																				  <div class="carousel-item">
																					<div class="card-deck">
																	    	<div class="row row-cols-1 row-cols-md-3 g-4">
																	    		<div class="col-sm-6">
																	    			<div class="card p-3 mb-3">
																				<div class="d-flex align-items-center">
																					<!-- <div class="image"> <img src="img/user1.jpg" class="rounded" width="155"> </div> -->
																					<div class=" w-100">
																						<h4 class="mb-0 mt-0">Laptop</h4> <span style="font-size: small;">Asus</span>
																						<!-- <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
																							<div class="d-flex flex-column"> <span class="articles">Articles</span> <span class="number1">38</span> </div>
																							<div class="d-flex flex-column"> <span class="followers">Followers</span> <span class="number2">980</span> </div>
																							<div class="d-flex flex-column"> <span class="rating">Rating</span> <span class="number3">8.9</span> </div>
																						</div> -->
																						<div style="margin: 10px 0px;">
																							<span style="font-size: small;">S/N 2225411105246548</span><br>
																							<span style="font-size: small;">i7 / 250 SSD / 8 RAM</span>
																						</div>
																						<div class="button mt-2 d-flex flex-row align-items-center"> 
																							<button class="btn btn-sm btn-outline-primary w-100">Editar</button> 
																							<!-- <button class="btn btn-sm btn-primary w-100 ml-2">Editar</button>  -->
																						</div>
																					</div>
																				</div>
																			</div>
																	    		</div>
																	    		<div class="col-sm-6">
																	    			<div class="card p-3 mb-3">
																				<div class="d-flex align-items-center">
																					<!-- <div class="image"> <img src="img/user1.jpg" class="rounded" width="155"> </div> -->
																					<div class=" w-100">
																						<h4 class="mb-0 mt-0">Laptop</h4> <span style="font-size: small;">Asus</span>
																						<!-- <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
																							<div class="d-flex flex-column"> <span class="articles">Articles</span> <span class="number1">38</span> </div>
																							<div class="d-flex flex-column"> <span class="followers">Followers</span> <span class="number2">980</span> </div>
																							<div class="d-flex flex-column"> <span class="rating">Rating</span> <span class="number3">8.9</span> </div>
																						</div> -->
																						<div style="margin: 10px 0px;">
																							<span style="font-size: small;">S/N 2225411105246548</span><br>
																							<span style="font-size: small;">i7 / 250 SSD / 8 RAM</span>
																						</div>
																						<div class="button mt-2 d-flex flex-row align-items-center"> 
																							<button class="btn btn-sm btn-outline-primary w-100">Editar</button> 
																							<!-- <button class="btn btn-sm btn-primary w-100 ml-2">Editar</button>  -->
																						</div>
																					</div>
																				</div>
																			</div>
																	    		</div>
																	    		<div class="col-sm-6">
																	    			<div class="card p-3 mb-3">
																				<div class="d-flex align-items-center">
																					<!-- <div class="image"> <img src="img/user1.jpg" class="rounded" width="155"> </div> -->
																					<div class=" w-100">
																						<h4 class="mb-0 mt-0">Laptop</h4> <span style="font-size: small;">Asus</span>
																						<!-- <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
																							<div class="d-flex flex-column"> <span class="articles">Articles</span> <span class="number1">38</span> </div>
																							<div class="d-flex flex-column"> <span class="followers">Followers</span> <span class="number2">980</span> </div>
																							<div class="d-flex flex-column"> <span class="rating">Rating</span> <span class="number3">8.9</span> </div>
																						</div> -->
																						<div style="margin: 10px 0px;">
																							<span style="font-size: small;">S/N 2225411105246548</span><br>
																							<span style="font-size: small;">i7 / 250 SSD / 8 RAM</span>
																						</div>
																						<div class="button mt-2 d-flex flex-row align-items-center"> 
																							<button class="btn btn-sm btn-outline-primary w-100">Editar</button> 
																							<!-- <button class="btn btn-sm btn-primary w-100 ml-2">Editar</button>  -->
																						</div>
																					</div>
																				</div>
																			</div>
																	    		</div>
																	    	</div>
																	    	</div>
																				  </div>
																				</div>
																				<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
																				  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
																				  <span class="sr-only">Previous</span>
																				</a>
																				<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
																				  <span class="carousel-control-next-icon" aria-hidden="true"></span>
																				  <span class="sr-only">Next</span>
																				</a>
																			 </div>
																	  </div>
																</div>
															</td>
														</tr>
													</table>
												</div>
                        					</div>
                    					</div>
                					</div>
								</div>
							</div>
						</div>	
					</div>
			        <!-- /.container-fluid -->

				</div>
				<!-- End of Main Content -->

				<!-- Footer -->
				<footer th:replace="layout/layout :: footer"></footer>
				<!-- End of Footer -->
		
		
		    </div>
			<!-- End of Content Wrapper -->

		</div>
		<!-- End of Page Wrapper -->

  <!-- Scroll to Top Button--> <div class="st-actionContainer right-bottom" id="btnFlash"> <div class="st-btn-container right-bottom" onclick="flashSurvey(); return false;"> <div class="st-button-main"><i class="fa fa-bolt" aria-hidden="true"></i></div> </div> </div>
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

	 <!-- ModalLogout -->
      <footer th:replace="layout/layout :: modalLogout"></footer>
      <!-- End ModalLogout -->

  <!-- Bootstrap core JavaScript-->
  <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  <!-- Core plugin JavaScript-->
  <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

  <!-- Custom scripts for all pages-->
  <script th:src="@{/js/sb-admin-2.min.js}"></script>

  <!-- Page level plugins -->
  <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
  <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

  <!-- Page level custom scripts -->
  <script th:src="@{/js/demo/datatables-demo.js}"></script>
  
  <script th:src="@{/js/datosRecursoSesion.js}"></script>
  <script th:src="@{/js/datosGenerales.js}"></script>
  
  
  
  <script type="text/javascript">
  	$(document).ready(function(){
  		$('.carousel').carousel('pause');
  	});
  </script>

</body>

</html>
